In [1]:
import pandas as pd
import numpy as np
import datetime

#%matplotlib inline

# Leo csv

In [2]:
test_final = pd.read_csv('../data/test_final_100k.csv')
test_final = test_final.drop('id',axis=1)

In [3]:
avisos_detalle = pd.read_csv('../data/datos_navent_fiuba/fiuba_6_avisos_detalle.csv')
avisos_detalle = avisos_detalle.append(pd.read_csv('../data/fiuba_hasta_15_abril/fiuba_6_avisos_detalle.csv'))
avisos_detalle = avisos_detalle.append(pd.read_csv('../data/fiuba_desde_15_abril/fiuba_6_avisos_detalle.csv'))
avisos_detalle = avisos_detalle.append(pd.read_csv('../data/fiuba_6_avisos_detalle_missing_nivel_laboral.csv'))
avisos_detalle = avisos_detalle.reset_index().drop('index',axis=1)

In [6]:
avisos_detalle = avisos_detalle.drop(['ciudad','mapacalle','nombre_zona','descripcion','titulo','tipo_de_trabajo','nivel_laboral','denominacion_empresa','idpais'],axis=1)

In [8]:
postulantes_genero_y_edad = pd.read_csv('../data/datos_navent_fiuba/fiuba_2_postulantes_genero_y_edad.csv')
postulantes_genero_y_edad = postulantes_genero_y_edad.append(pd.read_csv('../data/fiuba_hasta_15_abril/fiuba_2_postulantes_genero_y_edad.csv'))
postulantes_genero_y_edad = postulantes_genero_y_edad.append(pd.read_csv('../data/fiuba_desde_15_abril/fiuba_2_postulantes_genero_y_edad.csv'))
postulantes_genero_y_edad = postulantes_genero_y_edad.reset_index().drop('index',axis=1)

In [9]:
postulaciones = pd.read_csv('../data/datos_navent_fiuba/fiuba_4_postulaciones.csv')
postulaciones = postulaciones.append(pd.read_csv('../data/fiuba_hasta_15_abril/fiuba_4_postulaciones.csv'))
# no tiene postulaciones -> pd.read_csv('data/fiuba_desde_15_abril/')
postulaciones = postulaciones.reset_index().drop('index',axis=1)

# Borro duplicados y agrego edad

In [10]:
postulantes_genero_y_edad = postulantes_genero_y_edad.drop_duplicates()
postulantes_genero_y_edad = postulantes_genero_y_edad.drop_duplicates(subset=['idpostulante'],keep='last')
postulantes_genero_y_edad = postulantes_genero_y_edad.reset_index().drop('index',axis=1)

In [11]:
# Agrego la edad de los postulantes
postulantes_genero_y_edad['fechanacimiento'] = pd.to_datetime(postulantes_genero_y_edad['fechanacimiento'],errors='coerce')
postulantes_genero_y_edad['edad'] = datetime.datetime.now().year - postulantes_genero_y_edad['fechanacimiento'].dt.year

# En un principio los relleno con la media de los postulantes
postulantes_genero_y_edad.loc[postulantes_genero_y_edad['edad'].isnull(),'edad'] = int(postulantes_genero_y_edad['edad'].mean())
postulantes_genero_y_edad['edad'] = postulantes_genero_y_edad['edad'].astype('int32')
postulantes_genero_y_edad.isnull().sum()

idpostulante           0
fechanacimiento    26096
sexo                   0
edad                   0
dtype: int64

In [12]:
avisos_detalle = avisos_detalle.drop_duplicates(subset=['idaviso'],keep='last')
avisos_detalle = avisos_detalle.reset_index().drop('index',axis=1)

In [13]:
postulaciones = postulaciones.drop_duplicates(keep='last')
postulaciones = postulaciones.reset_index().drop('index',axis=1)

# Separo gente postulada y no postulada

In [14]:
# Separa la gente postulada, luego los busco en el DF que junta todos los postulantes
# y me quedo con los opuestos, los no postulados.
# esto me va a servir para samplear
# GENTE NO POSTULADA
gente_no_postulada = postulantes_genero_y_edad[-postulantes_genero_y_edad['idpostulante'].\
                                               isin(postulaciones['idpostulante'].value_counts().index)]
gente_no_postulada = gente_no_postulada.reset_index(drop=True)

In [15]:
# Pocos datos con sexo invalido, los desecho ya que son los no postulados
gente_no_postulada = gente_no_postulada.drop(gente_no_postulada[gente_no_postulada['sexo'] == '0.0'].index)

In [16]:
# GENTE POSTULADA
gente_postulada = postulantes_genero_y_edad[postulantes_genero_y_edad['idpostulante'].\
                                               isin(postulaciones['idpostulante'].value_counts().index)]
gente_postulada = gente_postulada.reset_index(drop=True)

In [17]:
# Reemplazo el sexo invalido por NO_DECLARA
gente_postulada.loc[gente_postulada['sexo'] == '0.0','sexo'] = 'NO_DECLARA'

In [18]:
# Dropeo los datos invalidos de los no postulados (se podria buscar alguna forma de salvarlos)
gente_no_postulada = gente_no_postulada.dropna()
gente_no_postulada = gente_no_postulada.reset_index(drop=True)
#gente_no_postulada['edad'] = gente_no_postulada['edad'].astype('int32')

In [19]:
# En un principio los relleno con la media de los postulantes
gente_postulada.loc[gente_postulada['edad'].isnull(),'edad'] = int(postulantes_genero_y_edad['edad'].mean())
gente_postulada['edad'] = gente_postulada['edad'].astype('int32')

In [20]:
gente_postulada.isnull().sum()

idpostulante           0
fechanacimiento    10074
sexo                   0
edad                   0
dtype: int64

# Arreglo el df de avisos detalle

In [21]:
avisos_detalle['nombre_area'].unique().shape

(188,)

In [22]:
avisos_detalle['nombre_area'].unique()

array(['Producci\xc3\xb3n', 'Comercial', 'Administraci\xc3\xb3n',
       'Distribuci\xc3\xb3n', 'Liderazgo de Proyecto',
       'Construcci\xc3\xb3n', 'Call Center', 'Recursos Humanos',
       'Almac\xc3\xa9n / Dep\xc3\xb3sito / Expedici\xc3\xb3n', 'Ventas',
       'Soporte T\xc3\xa9cnico', 'Calidad', 'Atenci\xc3\xb3n al Cliente',
       'Selecci\xc3\xb3n', 'Comunicacion',
       'Administraci\xc3\xb3n de Personal', 'Planeamiento comercial',
       'Gastronomia', 'Tecnico de Seguros', 'Asistente', 'Contabilidad',
       'Facturaci\xc3\xb3n', 'Telemarketing',
       'Cr\xc3\xa9ditos y Cobranzas',
       'Planeamiento econ\xc3\xb3mico-financiero',
       'J\xc3\xb3venes Profesionales', 'Capacitaci\xc3\xb3n', 'Secretaria',
       'Ingenier\xc3\xada  El\xc3\xa9ctrica y Electr\xc3\xb3nica',
       'Compras', 'Mineria/Petroleo/Gas',
       'Compras Internacionales/Importaci\xc3\xb3n',
       'Responsabilidad Social', 'Ingenier\xc3\xada  Industrial', 'Caja',
       'Auditor\xc3\xada', 'Seguridad',
       'Ventas Internacionales/Exportaci\xc3\xb3n',
       'Direcci\xc3\xb3n de Obra', 'An\xc3\xa1lisis Funcional',
       'Ingenier\xc3\xada Electromec\xc3\xa1nica',
       'Desarrollo de Negocios', 'Telecomunicaciones', 'Transporte',
       'Abastecimiento', 'Mantenimiento y Limpieza', 'Camareros',
       'Finanzas', 'Tesorer\xc3\xada', 'Programaci\xc3\xb3n',
       'Oficios y Profesiones', 'Tecnologia / Sistemas', 'Salud',
       'Impuestos', 'Medicina', 'Mantenimiento', 'Recepcionista',
       'Trabajo Social', 'Marketing', 'Log\xc3\xadstica', 'Otros',
       'Control de Gesti\xc3\xb3n',
       'Consultor\xc3\xadas Comercio Exterior', 'Servicios',
       'Arquitectura', 'Seguros', 'Legal', 'Back Office',
       'Community Management', 'Programaci\xc3\xb3n de producci\xc3\xb3n',
       'Hoteler\xc3\xada', 'Ingenier\xc3\xada  Mec\xc3\xa1nica',
       'Ingenier\xc3\xada Civil', 'Seguridad Inform\xc3\xa1tica',
       'Cadeter\xc3\xada', 'Otras Ingenierias', 'Farmac\xc3\xa9utica',
       'Pasant\xc3\xada / Trainee', 'Sistemas',
       'Est\xc3\xa9tica y Cuidado Personal',
       'Compensaci\xc3\xb3n y Planilla',
       'Dise\xc3\xb1o Textil e Indumentaria', 'E-commerce',
       'Dise\xc3\xb1o de Interiores / Decoraci\xc3\xb3n',
       'Business Intelligence', 'Evaluaci\xc3\xb3n Econ\xc3\xb3mica',
       'Turismo', 'Data Entry', 'Dise\xc3\xb1o Industrial',
       'Administracion de Seguros', 'Educaci\xc3\xb3n',
       'Dise\xc3\xb1o Gr\xc3\xa1fico', 'Comercio Exterior', 'Multimedia',
       'Operaciones', 'Gerencia / Direcci\xc3\xb3n General',
       'Qu\xc3\xadmica', 'Laboratorio', 'An\xc3\xa1lisis de Riesgos',
       'Producto', 'Planeamiento',
       'Administraci\xc3\xb3n de Base de Datos',
       'Relaciones Institucionales/Publicas', 'Infraestructura',
       'Educaci\xc3\xb3n/ Docentes',
       'Ingenier\xc3\xada Oficina T\xc3\xa9cnica / Proyecto', 'Redes',
       'Ingenier\xc3\xada  Automotriz', 'Creatividad',
       'Seguridad e Higiene', 'Testing / QA / QC', 'Cuentas Corrientes',
       'Ingenier\xc3\xada de Producto', 'Finanzas Internacionales',
       'Direcci\xc3\xb3n', 'Bioquimica', 'Ingenier\xc3\xada de Ventas',
       'Organizaci\xc3\xb3n y M\xc3\xa9todos', 'Consultoria',
       'Ingenier\xc3\xada Qu\xc3\xadmica',
       'Tecnolog\xc3\xadas de la Informaci\xc3\xb3n', 'Venta de Seguros',
       'Pr\xc3\xa1cticas Profesionales', 'Negocios Internacionales',
       'Ingenier\xc3\xada de Procesos',
       'Otras Especialidades m\xc3\xa9dicas',
       'Mercadotecnia Internacional', 'Data Warehousing',
       'Apoderado Aduanal', 'Bioqu\xc3\xadmica',
       'Asistente de Tr\xc3\xa1fico', 'Ingenier\xc3\xada en Alimentos',
       'Internet', 'Ingenier\xc3\xada  Metalurgica',
       'Ingenier\xc3\xada en Minas', 'Investigaci\xc3\xb3n y Desarrollo',
       'Topograf\xc3\xada', 'Medio Ambiente', 'Veterinaria',
       'Media Planning', 'Asesor\xc3\xada Legal Internacional',
       'Trabajo social', 'Dise\xc3\xb1o', 'Educaci\xc3\xb3n especial',
       'Corporate Finance / Banca Inversi\xc3\xb3n',
       'Ingenier\xc3\xada Agr\xc3\xb3noma', 'Dise\xc3\xb1o Web',
       'Independientes', 'Telefonista', 'Comunicaciones Internas',
       'Odontolog\xc3\xada', 'Promotoras/es',
       'Exploraci\xc3\xb3n Minera y Petroquimica', 'Farmacia hospitalaria',
       'Farmacia industrial', 'Farmacia comercial', 'Medicina Laboral',
       'Urbanismo', 'Seguridad Industrial',
       'Auditor\xc3\xada M\xc3\xa9dica', 'Instrumentaci\xc3\xb3n',
       'Dise\xc3\xb1o Multimedia', 'Dise\xc3\xb1o 3D',
       'Ingenier\xc3\xada Geol\xc3\xb3gica', 'Comunicaciones Externas',
       'Periodismo', 'Traduccion', 'Idiomas', 'Emergentolog\xc3\xada',
       'Psicolog\xc3\xada', 'Bienestar Estudiantil',
       'Inversiones / Proyectos de Inversi\xc3\xb3n', 'Quimica',
       'Kinesiolog\xc3\xada / terapia ocupacional',
       'Pr\xc3\xa1cticas cardiol\xc3\xb3gicas',
       'Otras \xc3\xa1reas t\xc3\xa9cnicas en salud',
       'Ingenier\xc3\xada en Petr\xc3\xb3leo y Petroqu\xc3\xadmica',
       'Diagn\xc3\xb3stico por im\xc3\xa1genes', 'Fonoaudiolog\xc3\xada',
       'Esterilizaci\xc3\xb3n', 'Cl\xc3\xadnica M\xc3\xa9dica',
       'Cuidados Intensivos Cardiologicos Adultos',
       'Enfermer\xc3\xada (ver Enfermer\xc3\xada)', 'Arte y Cultura',
       'Instrumentaci\xc3\xb3n quir\xc3\xbargica',
       'Auditor\xc3\xada de Seguros', 'Instrumentaci\xc3\xb3n Minera',
       'Maternidad'], dtype=object)

In [23]:
replacements = {
   'nombre_area': {
      'Ingeniería Geológica|Ingeniería Metalúrgica|Ingeniería  Metalurgica|Ingeniería  Eléctrica y Electrónica|Ingeniería  Automotriz|Ingeniería de Producto|Ingeniería de Procesos|Ingeniería de Ventas|Ingeniería Oficina Técnica / Proyecto|Ingeniería en Alimentos|Ingeniería Agrónoma|Ingeniería Química|Ingeniería  Industrial|Ingeniería Electromecánica|Ingeniería  Mecánica|Otras Ingenierias': 'Ingenieria',      
      'Corporate Finance / Banca Inversión|Evaluación Económica|Organización y Métodos|Cuentas Corrientes|Cadetería|Contabilidad|Impuestos|Auditoría|Control de Gestión|Consultoria': 'Administración',#cuentasc podria ir en ventas
      'Diseño Multimedia|Diseño 3D|Diseño Textil e Indumentaria|Diseño Web|Diseño de Interiores / Decoración|Diseño Industrial|Diseño Gráfico': 'Diseño y Urbanismo',
      'Periodismo|Comunicaciones Internas|Relaciones Institucionales/Publicas|Responsabilidad Social': 'Comunicacion',
      'Auditoría de Seguros|Venta de Seguros|Tecnico de Seguros|Administración de Seguros|Administracion de Seguros': 'Seguros',
      'Quimica|Bioquimica|Bioquímica': 'Química',
      'Selección|Capacitación|Compensación y Planilla|Administración de Personal': 'Recursos Humanos', #administracion de personal dudo
      'Exploración Minera y Petroquimica|Ingeniería en Petróleo y Petroquímica|Salud Minera|Seguridad Industrial|Medio Ambiente|Instrumentación Minera|Ingeniería en Minas|Mineria/Petroleo/Gas': 'Minería',
      'Traduccion': 'Idiomas',
      'Mantenimiento|Calidad|Programación de producción': 'Producción',
      'Inversiones / Proyectos de Inversión|Finanzas Internacionales|Análisis de Riesgos|Tesorería|Créditos y Cobranzas|Facturación|Planeamiento económico-financiero': 'Finanzas',
      'Telefonista|Call Center|Telemarketing|Caja': 'Atención al Cliente', #no se si caja va aca
      'Almacén / Depósito / Expedición|Compras|Distribución|Abastecimiento' : 'Logística',
      'Legal|Asesoría Legal Internacional': 'Legales',
      'Sistemas|Telecomunicaciones|Tecnologia/Sistemas de producción|Oficios Informática|Tecnologías de la Información|Data Warehousing|Redes|Data Entry|Administración de Base de Datos|Seguridad Informática|Soporte Técnico|Testing / QA / QC|Internet|Infraestructura|Análisis Funcional|Liderazgo de Proyecto|Programación' : 'Tecnologia/Sistemas',
      'Oficios y Profesiones|Producción y Limpieza|Estética y Cuidado Personal|Mantenimiento y Limpieza|Seguridad|Servicios|Promotoras/es|Jóvenes Profesionales': 'Oficios',#aca tambien
      'Recepcionista|Asistente': 'Secretaria',
      'Dirección de Obra|Arquitectura|Ingeniería Civil|Urbanismo|Operaciones|Diseño y Construcción|Topografía' : 'Construcción',
      'Compras Internacionales/Importación|Ventas Internacionales/Exportación|Consultorías Comercio Exterior|Apoderado Aduanal|Logística Internacionales/Importación': 'Comercio Exterior',
      'Business Intelligence|E-commerce|Community Management|Producto|Media Planning|Mercadotecnia Internacional': 'Marketing',
      'Camareros|Hotelería|Turismo': 'Gastronomia',
      'Seguridad Industrial|Oficios e Higiene' : 'Seguridad e Higiene',
      'Comercial|Ventas económico-financiero|Planeamiento Comercial|Planeamiento|Desarrollo de Negocios|Negocios Internacionales|Ventas comercial' : 'Ventas',
      'Laboratorio|Farmacia industrial|Farmacia comercial|Medicina|Otras Especialidades médicas|Diagnóstico por imágenes|Esterilización|Maternidad|Farmacéutica|Veterinaria|Odontología|Farmacia hospitalaria|Farmacia Industrial|Farmacia Comercial|Medicina Laboral|Instrumentación|Auditoría Médica|Emergentología|Kinesiología / terapia ocupacional|Prácticas cardiológicas|Otras áreas técnicas en salud|Fonoaudiología|Clínica Médica|Cuidados Intensivos Cardiologicos Adultos|Psicología|Instrumentación quirúrgica|Administración Médica' : 'Salud',
      'Gerencia / Dirección General|Dirección': 'Gerencia',
      'Pasantía / Trainee|Prácticas Profesionales': 'Pasantía',
      'Tecnologia / Tecnologia/Sistemas': 'Tecnologia/Sistemas',
      'Diseño y Construcción':'Construcción',
      'Secretaria de Tráfico': 'Logística',
      'Ventas comercial':'Ventas',
      'Salud Laboral|Salud quirúrgica':'Salud',
      'Educación/ Docentes|Educación especial|Trabajo social|Trabajo Social|Investigación y Desarrollo|Bienestar Estudiantil': 'Educación',
      'Arte y Cultura|Comunicaciones Externas|Independientes|Transporte|Creatividad|Multimedia|Back Office': 'Otros' #transporte entraria tanto en logistica como en oficios y creatividad en marketing y diseño
       #Multimedia en marketing y diseño. Back Office puede entrar en muchos
   }
}

avisos_detalle.replace(replacements, regex=True, inplace=True)

In [24]:
print(avisos_detalle['nombre_area'].value_counts())

Ventas                               5256
Administración                       3218
Tecnologia/Sistemas                  3062
Producción                           2268
Atención al Cliente                  1354
Logística                            1307
Oficios                              1180
Recursos Humanos                     1012
Finanzas                              896
Ingenieria                            868
Salud                                 725
Gastronomia                           602
Otros                                 583
Marketing                             579
Secretaria                            459
Construcción                          391
Comercio Exterior                     236
Legales                               235
Diseño y Urbanismo                    128
Minería                               112
Tecnologia/Sistemas de producción     107
Seguros                               106
Gerencia                              102
Comunicacion                           92
Educación                              86
Pasantía                               70
Gerencia de Obra                       60
Seguridad e Higiene                    49
Química                                40
Ventas económico-financiero            33
Secretaria de Tráfico                  25
Diseño                                 22
Oficios Industrial                     12
Diseño Otros                            6
Idiomas                                 5
Enfermería (ver Enfermería)             2
Name: nombre_area, dtype: int64

In [25]:
avisos_detalle.loc[avisos_detalle['nombre_area'] =='Enfermería (ver Enfermería)', "nombre_area"] = "Salud"

# Funciones

In [26]:
def oneHotEncoding(df, columna):
    one_hot = pd.get_dummies(df[columna])
    df.drop(columna, axis=1, inplace=True)
    df = pd.concat([df, one_hot], axis=1)
    return df

In [27]:
def feature_genero_edad(tupla_idaviso_idpostulante,postulantes_genero_y_edad):
    df_return = tupla_idaviso_idpostulante.merge(postulantes_genero_y_edad,on='idpostulante',how='left')
    return df_return

In [28]:
def feature_area_de_trabajo(tupla_a_predecir):
    df_return = tupla_a_predecir.merge(avisos_detalle,on='idaviso',how='left')
    return df_return

# Test final

In [29]:
test_final = feature_genero_edad(test_final,gente_postulada.append(gente_no_postulada))
test_final

          idaviso idpostulante fechanacimiento        sexo  edad
0          739260       6M9ZQR      1976-03-29         FEM  42.0
1          739260       6v1xdL      1987-06-27        MASC  31.0
2          739260       ezRKm9      1982-02-17         FEM  36.0
3          758580       1Q35ej      1949-12-24        MASC  69.0
4          758580       EAN4J6      1986-05-27         FEM  32.0
5          758580       8R6pzR      1990-05-29        MASC  28.0
6          776420       aZJ2XN      1989-01-23        MASC  29.0
7          776420       Nmpo3J      1964-02-13        MASC  54.0
8          776420       eVqWar      1990-04-09         FEM  28.0
9          820850       6ZBD33      1980-09-18        MASC  38.0
10         820850       1j4RNj      1987-04-12         FEM  31.0
11         820850        ZOwE8      1979-10-22         FEM  39.0
12         820850       NG4BaD      1990-03-18         FEM  28.0
13         914880       6q6eNl      1972-12-12        MASC  46.0
14         914880       8E8pWj      1981-01-20         FEM  37.0
15         914880       eVqbDr      1983-03-25         FEM  35.0
16        1112360       6kRZ44      1976-03-18         FEM  42.0
17        1112360       8XGB3D      1986-11-01         FEM  32.0
18        1112360       5qVB9X      1977-08-29         FEM  41.0
19        1112360       Z6zxXZ      1980-05-16         FEM  38.0
20        1141070       edaNB4      1984-06-29         FEM  34.0
21        1141070       EZ9pe6      1983-02-03         FEM  35.0
22        1141070       aXa55D      1984-05-02        MASC  34.0
23        1144960       NEJjvL      1986-03-17        MASC  32.0
24        1144960       6Q32Vj      1980-07-04        MASC  38.0
25        1144960       NWxrWL      1965-04-01        MASC  53.0
26        1145170       Y9d5Bw      1987-03-04        MASC  31.0
27        1145170       edaoDp      1975-10-24         FEM  43.0
28        1145170       Z8pvLz      1971-05-12        MASC  47.0
29        1176260       ZvQJ2z      1978-05-04         FEM  40.0
...           ...          ...             ...         ...   ...
99970  1112515048       EbooLJ      1986-07-19         FEM  32.0
99971  1112515048       Zv1eoY      1970-12-25         FEM  48.0
99972  1112515048       YqJLDw      1983-01-07        MASC  35.0
99973  1112515056       8RODvz      1990-01-18         FEM  28.0
99974  1112515056       50p1Zp      1976-04-22         FEM  42.0
99975  1112515056       aZJQP9      1984-10-27         FEM  34.0
99976  1112515069       eZ8294      1985-02-02         FEM  33.0
99977  1112515069       NROBQ4      1986-05-13         FEM  32.0
99978  1112515069       a8YdG9      1956-07-06        MASC  62.0
99979  1112515080       8EQpWl      1980-05-20         FEM  38.0
99980  1112515080       ZREM3E      1980-12-11         FEM  38.0
99981  1112515080       NDaAYJ      1989-05-16         FEM  29.0
99982  1112515081       EwKNO6      1977-05-23        MASC  41.0
99983  1112515081       aZJWvq      1988-05-01         FEM  30.0
99984  1112515081       8R4ZBz      1983-03-03         FEM  35.0
99985  1112515099       eprYVE      1987-08-24         FEM  31.0
99986  1112515099       8E8lLW      1984-11-04         FEM  34.0
99987  1112515099       Z0A84P      1984-06-28        MASC  34.0
99988  1112515103       Y6xQ4q             NaT  NO_DECLARA  31.0
99989  1112515103       NRO8wz      1987-11-19         FEM  31.0
99990  1112515103       ZvQaaY      1981-11-13         FEM  37.0
99991  1112515105       ZREdK1      1986-11-02         FEM  32.0
99992  1112515105       NmpeRJ      1971-03-25         FEM  47.0
99993  1112515105       5RVLZv      1986-04-14         FEM  32.0
99994  1112515111       YqJDoD      1976-09-25         FEM  42.0
99995  1112515111       5RVZBp      1978-08-30        MASC  40.0
99996  1112515111       ZvQXN1      1979-12-26         FEM  39.0
99997  1112515116       NmpwAB      1977-07-22         FEM  41.0
99998  1112515116       aZJMqJ      1986-08-12         FEM  32.0
99999  1112515116       8R48Ex      1973-10-12        MASC  45.0

[100000 rows x 5 columns]

In [30]:
test_final = feature_area_de_trabajo(test_final)

In [31]:
test_final

,idaviso,idpostulante,fechanacimiento,sexo,edad,nombre_area
0,739260,6M9ZQR,1976-03-29,FEM,42.0,Ventas
1,739260,6v1xdL,1987-06-27,MASC,31.0,Ventas
2,739260,ezRKm9,1982-02-17,FEM,36.0,Ventas
3,758580,1Q35ej,1949-12-24,MASC,69.0,Tecnologia/Sistemas
4,758580,EAN4J6,1986-05-27,FEM,32.0,Tecnologia/Sistemas
5,758580,8R6pzR,1990-05-29,MASC,28.0,Tecnologia/Sistemas
6,776420,aZJ2XN,1989-01-23,MASC,29.0,Administración
7,776420,Nmpo3J,1964-02-13,MASC,54.0,Administración
8,776420,eVqWar,1990-04-09,FEM,28.0,Administración
9,820850,6ZBD33,1980-09-18,MASC,38.0,Recursos Humanos
10,820850,1j4RNj,1987-04-12,FEM,31.0,Recursos Humanos
11,820850,ZOwE8,1979-10-22,FEM,39.0,Recursos Humanos
12,820850,NG4BaD,1990-03-18,FEM,28.0,Recursos Humanos
13,914880,6q6eNl,1972-12-12,MASC,46.0,Tecnologia/Sistemas
14,914880,8E8pWj,1981-01-20,FEM,37.0,Tecnologia/Sistemas
15,914880,eVqbDr,1983-03-25,FEM,35.0,Tecnologia/Sistemas
16,1112360,6kRZ44,1976-03-18,FEM,42.0,Recursos Humanos
17,1112360,8XGB3D,1986-11-01,FEM,32.0,Recursos Humanos
18,1112360,5qVB9X,1977-08-29,FEM,41.0,Recursos Humanos
19,1112360,Z6zxXZ,1980-05-16,FEM,38.0,Recursos Humanos
20,1141070,edaNB4,1984-06-29,FEM,34.0,Oficios
21,1141070,EZ9pe6,1983-02-03,FEM,35.0,Oficios
22,1141070,aXa55D,1984-05-02,MASC,34.0,Oficios
23,1144960,NEJjvL,1986-03-17,MASC,32.0,Atención al Cliente
24,1144960,6Q32Vj,1980-07-04,MASC,38.0,Atención al Cliente
25,1144960,NWxrWL,1965-04-01,MASC,53.0,Atención al Cliente
26,1145170,Y9d5Bw,1987-03-04,MASC,31.0,Ventas
27,1145170,edaoDp,1975-10-24,FEM,43.0,Ventas
28,1145170,Z8pvLz,1971-05-12,MASC,47.0,Ventas
29,1176260,ZvQJ2z,1978-05-04,FEM,40.0,Oficios
...,...,...,...,...,...,...
99970,1112515048,EbooLJ,1986-07-19,FEM,32.0,Administración
99971,1112515048,Zv1eoY,1970-12-25,FEM,48.0,Administración
99972,1112515048,YqJLDw,1983-01-07,MASC,35.0,Administración
99973,1112515056,8RODvz,1990-01-18,FEM,28.0,Tecnologia/Sistemas
99974,1112515056,50p1Zp,1976-04-22,FEM,42.0,Tecnologia/Sistemas
99975,1112515056,aZJQP9,1984-10-27,FEM,34.0,Tecnologia/Sistemas
99976,1112515069,eZ8294,1985-02-02,FEM,33.0,Marketing
99977,1112515069,NROBQ4,1986-05-13,FEM,32.0,Marketing
99978,1112515069,a8YdG9,1956-07-06,MASC,62.0,Marketing
99979,1112515080,8EQpWl,1980-05-20,FEM,38.0,Comunicacion
99980,1112515080,ZREM3E,1980-12-11,FEM,38.0,Comunicacion
99981,1112515080,NDaAYJ,1989-05-16,FEM,29.0,Comunicacion
99982,1112515081,EwKNO6,1977-05-23,MASC,41.0,Recursos Humanos
99983,1112515081,aZJWvq,1988-05-01,FEM,30.0,Recursos Humanos
99984,1112515081,8R4ZBz,1983-03-03,FEM,35.0,Recursos Humanos
99985,1112515099,eprYVE,1987-08-24,FEM,31.0,Ventas
99986,1112515099,8E8lLW,1984-11-04,FEM,34.0,Ventas
99987,1112515099,Z0A84P,1984-06-28,MASC,34.0,Ventas
99988,1112515103,Y6xQ4q,NaT,NO_DECLARA,31.0,Recursos Humanos
99989,1112515103,NRO8wz,1987-11-19,FEM,31.0,Recursos Humanos
99990,1112515103,ZvQaaY,1981-11-13,FEM,37.0,Recursos Humanos
99991,1112515105,ZREdK1,1986-11-02,FEM,32.0,Logística
99992,1112515105,NmpeRJ,1971-03-25,FEM,47.0,Logística
99993,1112515105,5RVLZv,1986-04-14,FEM,32.0,Logística
99994,1112515111,YqJDoD,1976-09-25,FEM,42.0,Ventas
99995,1112515111,5RVZBp,1978-08-30,MASC,40.0,Ventas
99996,1112515111,ZvQXN1,1979-12-26,FEM,39.0,Ventas
99997,1112515116,NmpwAB,1977-07-22,FEM,41.0,Pasantía
99998,1112515116,aZJMqJ,1986-08-12,FEM,32.0,Pasantía
99999,1112515116,8R48Ex,1973-10-12,MASC,45.0,Pasantía

In [ ]:
test_final.isnull().sum()

In [32]:
# Salvo datos nulos
test_final.loc[test_final['sexo'].isnull(),'sexo'] = 'NO_DECLARA'
test_final.loc[test_final['edad'].isnull(),'edad'] = int(postulantes_genero_y_edad['edad'].mean())

In [33]:
test_final = test_final.drop(['idaviso','idpostulante','fechanacimiento'],axis=1)
test_final['edad'] = test_final['edad'].astype('int32')
test_final = oneHotEncoding(test_final,'sexo')

In [34]:
test_final.head()

   edad          nombre_area  FEM  MASC  NO_DECLARA
0    42               Ventas    1     0           0
1    31               Ventas    0     1           0
2    36               Ventas    1     0           0
3    69  Tecnologia/Sistemas    0     1           0
4    32  Tecnologia/Sistemas    1     0           0

In [29]:
test_final.isnull().sum()

edad                                 0
Administración                       0
Atención al Cliente                  0
Comercio Exterior                    0
Comunicacion                         0
Construcción                         0
Diseño                               0
Diseño Otros                         0
Diseño y Urbanismo                   0
Educación                            0
Finanzas                             0
Gastronomia                          0
Gerencia                             0
Gerencia de Obra                     0
Idiomas                              0
Ingenieria                           0
Legales                              0
Logística                            0
Marketing                            0
Minería                              0
Oficios                              0
Oficios Industrial                   0
Otros                                0
Pasantía                             0
Producción                           0
Química                              0
Recursos Humanos                     0
Salud                                0
Secretaria                           0
Secretaria de Tráfico                0
Seguridad e Higiene                  0
Seguros                              0
Tecnologia/Sistemas                  0
Tecnologia/Sistemas de producción    0
Ventas                               0
Ventas económico-financiero          0
FEM                                  0
MASC                                 0
NO_DECLARA                           0
dtype: int64

# Funciones utilidad

In [35]:
# Recibe las series de idpostulante e idaviso
def generador_de_sample_serie(idaviso, idpostulante, n_sample, ciclos):
    idpostulante = pd.DataFrame(idpostulante)
    idaviso = pd.DataFrame(idaviso)
    idpostulante['tem'] = 1
    idaviso['tem'] = 1
    sample_append = pd.DataFrame(columns=[idpostulante.columns[0],'tem',idaviso.columns[0]])
    for i in range(0,ciclos):
        sample_idpostulante = idpostulante.sample(n=n_sample,random_state=i)
        sample_idaviso = idaviso.sample(n=n_sample,random_state=i)
        sample_merge = sample_idaviso.merge(sample_idpostulante)
        sample_append = sample_append.append(sample_merge)
    sample_append = sample_append.drop('tem',axis=1)
    sample_append = sample_append.reset_index(drop=True)
    return sample_append

In [36]:
# fijarse de balancear el sample con 50% de postulados y no postulados

# Generador de sample
# el id tiene que estar en la columna 0
# Recibe los DFs de idpostulante e idaviso
def generador_de_sample_df(idaviso, idpostulante, n_sample, ciclos):
    idpostulante = idpostulante.drop(columns=idpostulante.columns[1:])
    idaviso = idaviso.drop(columns=idaviso.columns[1:])
    idpostulante['tem'] = 1
    idaviso['tem'] = 1
    sample_append = pd.DataFrame(columns=[idpostulante.columns[0],'tem',idaviso.columns[0]])
    for i in range(0,ciclos):
        sample_idpostulante = idpostulante.sample(n=n_sample,random_state=i)
        sample_idaviso = idaviso.sample(n=n_sample,random_state=i)
        sample_merge = sample_idaviso.merge(sample_idpostulante)
        sample_append = sample_append.append(sample_merge)
    sample_append = sample_append.drop('tem',axis=1)
    sample_append = sample_append.reset_index(drop=True)
    return sample_append

# Tupla postulada y sample no postulado

In [39]:
tupla_postulada = postulaciones.drop('fechapostulacion',axis=1)
tupla_postulada['y'] = 1
tupla_postulada = feature_genero_edad(tupla_postulada,gente_postulada)
#tupla_postulada = feature_area_de_trabajo(tupla_postulada)
tupla_postulada = tupla_postulada.drop(['fechanacimiento'],axis=1)
tupla_postulada = oneHotEncoding(tupla_postulada,'sexo')

In [40]:
tupla_postulada.head()

      idaviso idpostulante  y  edad  FEM  MASC  NO_DECLARA
0  1112257047         NM5M  1    48    1     0           0
1  1111920714         NM5M  1    48    1     0           0
2  1112346945         NM5M  1    48    1     0           0
3  1112345547         NM5M  1    48    1     0           0
4  1112237522         5awk  1    56    1     0           0

In [41]:
sample = generador_de_sample_serie(avisos_detalle['idaviso'],gente_no_postulada['idpostulante'],100,100)
sample['y'] = 0
sample = feature_genero_edad(sample,gente_no_postulada)
#sample = feature_area_de_trabajo(sample)
sample = sample.drop(['fechanacimiento'],axis=1)
sample = oneHotEncoding(sample,'sexo')

In [42]:
sample.head()

      idaviso idpostulante  y  edad  FEM  MASC  NO_DECLARA
0  1112390041      GNZ8JWK  0    55    0     1           0
1  1112390041      ZDlz5E1  0    21    1     0           0
2  1112390041        a0N4q  0    43    1     0           0
3  1112390041       ep41j9  0    32    0     1           0
4  1112390041       awOL1m  0    34    1     0           0

# Borro lo que no necesito

In [ ]:
del avisos_detalle
del postulantes_genero_y_edad
del postulaciones

# Separo la edad por rango en el sample y el test

In [43]:
sample = sample.append(tupla_postulada.sample(n=1000000,random_state=0))

In [44]:
sample = sample.drop('idpostulante',axis=1)

In [45]:
sample['edad'] = pd.cut(sample['edad'], range(0, 100, 5))
sample['edad'] = sample['edad'].astype(str)
dic = {'(10, 15]':0 , '(15, 20]':1 , '(20, 25]':2 , '(25, 30]':3 , '(30, 35]':4 , '(35, 40]':5 , '(40, 45]':6 , '(45, 50]':7 , '(50, 55]':8 , '(55, 60]':9 , '(60, 65]':10 , '(65, 70]':11 , '(70, 75]':12 , '(75, 80]':13 , '(80, 85]':14 , '(85, 90]':15 , '(95, 100]':16 , '(240, 245]':17}
sample['edad'] = sample['edad'].map(dic)

In [46]:
test_final['edad'] = pd.cut(test_final['edad'], range(0, 100, 5))
test_final['edad'] = test_final['edad'].astype(str)
test_final['edad'] = test_final['edad'].map(dic)

In [47]:
sample['edad'] = sample['edad'].fillna(2)

In [48]:
test_final['edad'] = test_final['edad'].fillna(2)

In [51]:
sample = feature_area_de_trabajo(sample)

In [53]:
sample = oneHotEncoding(sample,'nombre_area')

In [57]:
sample = sample.drop(['idaviso'],axis=1)

In [58]:
sample.head()

,y,edad,FEM,MASC,NO_DECLARA,Administración,Atención al Cliente,Comercio Exterior,Comunicacion,Construcción,...,Recursos Humanos,Salud,Secretaria,Secretaria de Tráfico,Seguridad e Higiene,Seguros,Tecnologia/Sistemas,Tecnologia/Sistemas de producción,Ventas,Ventas económico-financiero
0,0,8.0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,2.0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,6.0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,4.0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,4.0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [55]:
test_final = oneHotEncoding(test_final,'nombre_area')

In [56]:
test_final.head()

,edad,FEM,MASC,NO_DECLARA,Administración,Atención al Cliente,Comercio Exterior,Comunicacion,Construcción,Diseño,...,Recursos Humanos,Salud,Secretaria,Secretaria de Tráfico,Seguridad e Higiene,Seguros,Tecnologia/Sistemas,Tecnologia/Sistemas de producción,Ventas,Ventas económico-financiero
0,6.0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,4.0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,5.0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,11.0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,4.0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

# Random Forest

In [59]:
#-----------------------------------------------------------------
# Modelo Random Forest Classifier
#-----------------------------------------------------------------
from sklearn.ensemble import RandomForestClassifier

In [60]:
train_label = []
train_data = []

train_label = sample.iloc[:, 0]
train_data = sample.iloc[:, sample.columns != 'y']

In [61]:
ModeloRFC = RandomForestClassifier(n_estimators=100,random_state=0, n_jobs=-1)

In [62]:
ModeloRFC.fit(train_data, train_label)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=-1,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [63]:
result = ModeloRFC.predict(test_final)

In [64]:
result.size

100000

In [65]:
import csv

In [66]:
def write_submission(test_data, prediction, file_output):
    
    archivo_entrada = open(test_data)
    entrada_csv = csv.reader(archivo_entrada)
    next(entrada_csv, None)  # skip the headers

    archivo_salida = open(file_output, 'w')
    submit_csv = csv.writer(archivo_salida)
    submit_csv.writerow(['id', 'sepostulo'])

    for reg1, reg2  in zip(entrada_csv, prediction):
        linea = [reg1[0], round(reg2, 2)]
        submit_csv.writerow(linea)
    archivo_salida.close()

In [67]:
write_submission("../data/test_final_100k.csv", result, "../predicciones/RFC_area.csv")