In [2]:
import pandas as pd
import numpy as np

# Cargo los CVS

In [3]:
postulantes_educacion = pd.read_csv('data/datos_navent_fiuba/fiuba_1_postulantes_educacion.csv')
postulantes_educacion = postulantes_educacion.append(pd.read_csv('data/fiuba_hasta_15_abril/fiuba_1_postulantes_educacion.csv'))
postulantes_educacion = postulantes_educacion.append(pd.read_csv('data/fiuba_desde_15_abril/fiuba_1_postulantes_educacion.csv'))

In [4]:
postulantes_genero_y_edad = pd.read_csv('data/datos_navent_fiuba/fiuba_2_postulantes_genero_y_edad.csv')
postulantes_genero_y_edad = postulantes_genero_y_edad.append(pd.read_csv('data/fiuba_hasta_15_abril/fiuba_2_postulantes_genero_y_edad.csv'))
postulantes_genero_y_edad = postulantes_genero_y_edad.append(pd.read_csv('data/fiuba_desde_15_abril/fiuba_2_postulantes_genero_y_edad.csv'))

In [6]:
vistas = pd.read_csv('data/datos_navent_fiuba/fiuba_3_vistas.csv',nrows=10000)
vistas = vistas.append(pd.read_csv('data/fiuba_hasta_15_abril/fiuba_3_vistas.csv',nrows=10000))
vistas = vistas.append(pd.read_csv('data/fiuba_desde_15_abril/fiuba_3_vistas.csv',nrows=10000))

In [8]:
postulaciones = pd.read_csv('data/datos_navent_fiuba/fiuba_4_postulaciones.csv',nrows=10000)
postulaciones = postulaciones.append(pd.read_csv('data/fiuba_hasta_15_abril/fiuba_4_postulaciones.csv',nrows=10000))
# no tiene postulaciones -> pd.read_csv('data/fiuba_desde_15_abril/')

In [9]:
avisos_online = pd.read_csv('data/datos_navent_fiuba/fiuba_5_avisos_online.csv',nrows=10000)
avisos_online = avisos_online.append(pd.read_csv('data/fiuba_hasta_15_abril/fiuba_5_avisos_online.csv',nrows=10000))
# no tiene avisos online pd.read_csv('data/fiuba_desde_15_abril/')

In [10]:
avisos_detalle = pd.read_csv('data/datos_navent_fiuba/fiuba_6_avisos_detalle.csv',nrows=10000)
#avisos_detalle = avisos_detalle.append(pd.read_csv('data/fiuba_hasta_15_abril/fiuba_6_avisos_detalle.csv',nrows=10000))
avisos_detalle = avisos_detalle.append(pd.read_csv('data/fiuba_desde_15_abril/fiuba_6_avisos_detalle.csv',nrows=10000))
avisos_detalle = avisos_detalle.append(pd.read_csv('data/fiuba_6_avisos_detalle_missing_nivel_laboral.csv',nrows=10000))

# Limpio los data frames

In [11]:
#Elimino duplicados, valores nulos, etc
postulantes_genero_y_edad = postulantes_genero_y_edad[-postulantes_genero_y_edad['fechanacimiento'].isna()]
postulantes_genero_y_edad = postulantes_genero_y_edad.drop_duplicates()
postulantes_genero_y_edad = postulantes_genero_y_edad.drop_duplicates(subset=['idpostulante'],keep='last')

In [12]:
postulantes_educacion  = postulantes_educacion .drop_duplicates(subset=['idpostulante'],keep='last')

In [13]:
avisos_detalle = avisos_detalle.drop_duplicates(subset=['idaviso'],keep='last')

# Juntando datos sobre postulantes

In [14]:
#Uno los data frames de postulantes_genero_y_edad con postulantes_educación para tener todos los datos sobre cada
#postulante y luego hacer un merge con los avisos a los que se han postulado

postulantes = pd.merge(postulantes_educacion,postulantes_genero_y_edad, on ="idpostulante",how="inner")
postulantes.head()

  idpostulante             nombre    estado fechanacimiento  sexo
0         1d2B      Universitario  En Curso      1976-02-28  MASC
1        6M3jr      Universitario  En Curso      1975-11-03  MASC
2        NrlQx  Terciario/Técnico  En Curso      1973-09-23   FEM
3        Y9RKV      Universitario  En Curso      1982-09-29  MASC
4        ZL608      Universitario  En Curso      1978-04-28   FEM

# Genero DF que informa si el user si postuló o no a un aviso

In [15]:
#Utilizo los df de vistas y postulaciones. Hago un left join de vistas con postulaciones por las columnas idaviso
# y idpostulante. Si estos dos campos aparecen en el df de postulaciones,al hacer el join el campo 
#fecha de postulación podrá contener la fecha o no. Si no la contiene, entonces el usuario solo visitó el aviso.
#Si la contiene, lo visitó y postuló. Teniendo esto en cuenta, modifico el df poniendo 0 (no se postuló) 
# y 1 (se postuló) según corresponda.
vistas = vistas.rename(columns={'idAviso': 'idaviso'})
se_postulo = pd.merge(vistas,postulaciones,how="left",left_on=["idaviso","idpostulante"],right_on=["idaviso","idpostulante"])
se_postulo.head()

          idaviso                     timestamp idpostulante fechapostulacion
0      1111780242  2018-02-23T13:38:13.187-0500      YjVJQ6Z              NaN
1      1112263876  2018-02-23T13:38:14.296-0500      BmVpYoR              NaN
2      1112327963  2018-02-23T13:38:14.329-0500      wVkBzZd              NaN
3      1112318643  2018-02-23T13:38:17.921-0500      OqmP9pv              NaN
4      1111903673  2018-02-23T13:38:18.973-0500      DrpbXDP              NaN
5      1112355613  2018-02-23T13:38:23.467-0500      rmdWApz              NaN
6      1112346704  2018-02-23T13:38:27.130-0500      Dr6e6Xl              NaN
7      1112282610  2018-02-23T13:38:27.670-0500      A3R9GWl              NaN
8      1112342544  2018-02-23T13:38:31.601-0500      8M24rbM              NaN
9      1112358408  2018-02-23T13:38:32.977-0500      YjrD1ZZ              NaN
10     1112350129  2018-02-23T13:38:33.441-0500       NGAjYL              NaN
11     1112335938  2018-02-23T13:38:39.226-0500      0zdM4Ad              NaN
12     1112343977  2018-02-23T13:38:40.951-0500      X95NQrO              NaN
13     1112341619  2018-02-23T13:38:45.390-0500      GNdYAQp              NaN
14     1112358408  2018-02-23T13:38:48.716-0500      YjrD1ZZ              NaN
15     1112356639  2018-02-23T13:38:51.739-0500      BmVpYoR              NaN
16     1112056879  2018-02-23T13:38:52.770-0500      qe24j4x              NaN
17     1112357772  2018-02-23T13:38:58.432-0500      wVOlZpl              NaN
18     1112348302  2018-02-23T13:38:59.868-0500      vVj16rj              NaN
19     1112339122  2018-02-23T13:39:00.980-0500      MV6VXJe              NaN
20     1112323190  2018-02-23T13:39:01.985-0500      1QdrA8b              NaN
21     1112348933  2018-02-23T13:39:02.632-0500      A3vYzYL              NaN
22     1111780242  2018-02-23T13:39:03.119-0500      dYjRpMD              NaN
23     1112358421  2018-02-23T13:39:04.482-0500      YjlvjLD              NaN
24     1112302600  2018-02-23T13:39:04.896-0500      A36EVAl              NaN
25     1112357825  2018-02-23T13:39:10.237-0500       5pJE9X              NaN
26     1112297071  2018-02-23T13:39:13.293-0500      qe246AR              NaN
27     1112358969  2018-02-23T13:39:17.188-0500      ek46D1o              NaN
28     1112334830  2018-02-23T13:39:22.423-0500      0zPbJxa              NaN
29     1112112065  2018-02-23T13:39:23.834-0500      bOjaNPE              NaN
...           ...                           ...          ...              ...
29976  1112105146  2018-04-30T20:20:12.757-0400       a0JKNJ              NaN
29977  1112429718  2018-04-30T20:20:12.794-0400      rmd39lO              NaN
29978  1112496397  2018-04-30T20:20:13.023-0400      lDwNv5G              NaN
29979     1788378  2018-04-30T20:20:13.026-0400       AOjjAY              NaN
29980     1808627  2018-04-30T20:20:13.140-0400        mEQA6              NaN
29981  1112498933  2018-04-30T20:20:13.466-0400      6rQRmQj              NaN
29982  1112454395  2018-04-30T20:20:13.721-0400      1QPNeDO              NaN
29983     1808498  2018-04-30T20:20:13.772-0400       ZjaX4z              NaN
29984  1112493839  2018-04-30T20:20:14.005-0400      VNr6Qaz              NaN
29985     1806863  2018-04-30T20:20:14.080-0400       52Kzvw              NaN
29986  1112454395  2018-04-30T20:20:14.255-0400      1QPNeDO              NaN
29987     1807777  2018-04-30T20:20:14.685-0400       O6xMkd              NaN
29988  1112488172  2018-04-30T20:20:14.715-0400      JBrJzMe              NaN
29989  1112500168  2018-04-30T20:20:14.882-0400      Dr6qvAL              NaN
29990     1807114  2018-04-30T20:20:15.420-0400       AOjjAY              NaN
29991  1112493979  2018-04-30T20:20:15.487-0400      jk5B40r              NaN
29992     1808498  2018-04-30T20:20:15.554-0400       ZjaX4z              NaN
29993     1808567  2018-04-30T20:20:15.618-0400       8wK0QL              NaN
29994  1112489708  2018-04-30T20:20:15.634-0400      8MPxEJD              NaN
29995  1112444815  2018-04-30T20:20:15.738-0400      owjXxLL              NaN
29996     1799477  2018-04-30T20:20:15.816-0400        Kl50d              NaN
29997     1806863  2018-04-30T20:20:15.965-0400       52Kzvw              NaN
29998  1112491356  2018-04-30T20:20:16.068-0400       1Q2EzL              NaN
29999  1112472058  2018-04-30T20:20:16.127-0400      A3AQdO5              NaN
30000  1112500168  2018-04-30T20:20:16.216-0400      Dr6qvAL              NaN
30001  1112483227  2018-04-30T20:20:16.252-0400      bOjDdwq              NaN
30002  1112491116  2018-04-30T20:20:16.348-0400      1QrZROO              NaN
30003  1112481894  2018-04-30T20:20:16.967-0400      wVk1vde              NaN
30004     1799477  2018-04-30T20:20:17.230-0400        Kl50d              NaN
30005  1112500402  2018-04-30T20:20:17.523-0400      MV6pAWo              NaN

[30006 rows x 4 columns]

In [16]:
se_postulo = se_postulo.rename(columns={'fechapostulacion':'se_postulo'})
#por el momento no uso esta columna
se_postulo.drop(columns="timestamp",inplace=True)
#si no tiene fecha, no se postuló, completo con 0
se_postulo['se_postulo']=se_postulo['se_postulo'].fillna(0)
#Los que quedaron con fecha lo reemplazo por 1
se_postulo.loc[se_postulo['se_postulo'] != 0, 'se_postulo'] = 1
#Obtengo el df que me dice qué user se postuló a qué aviso
se_postulo.head()

      idaviso idpostulante  se_postulo
0  1111780242      YjVJQ6Z           0
1  1112263876      BmVpYoR           0
2  1112327963      wVkBzZd           0
3  1112318643      OqmP9pv           0
4  1111903673      DrpbXDP           0

# Uniendo los datos en un único DF

In [17]:
#Hago join del dataframe anterior con el df que contiene la información sobre los postulantes
train_test_merge = pd.merge(se_postulo, postulantes, on="idpostulante", how="inner")
train_test_merge.head()

,idaviso,idpostulante,se_postulo,nombre,estado,fechanacimiento,sexo
0,1111780242,YjVJQ6Z,0,Universitario,Abandonado,1991-11-16,MASC
1,1112263876,BmVpYoR,0,Universitario,En Curso,1989-12-08,MASC
2,1112356639,BmVpYoR,0,Universitario,En Curso,1989-12-08,MASC
3,1112355153,BmVpYoR,0,Universitario,En Curso,1989-12-08,MASC
4,1112327963,wVkBzZd,0,Universitario,Abandonado,1992-10-06,MASC

In [18]:
#Hago join del dataframe anterior con el df que contiene la información sobre cada aviso
train_test = pd.merge(train_test_merge,avisos_detalle,on="idaviso",how="inner")
train_test.head()

,idaviso,idpostulante,se_postulo,nombre,estado,fechanacimiento,sexo,idpais,titulo,descripcion,nombre_zona,ciudad,mapacalle,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
0,1111780242,YjVJQ6Z,0,Universitario,Abandonado,1991-11-16,MASC,1,"OPERARIO PARA DEPOSITO, CONFECCION DE PEDIDOS,...",<p>SE NECESITA OPERIARIO PARA DEPOSITO CONFECC...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Programación de producción,dm
1,1111780242,dYjRpMD,0,Secundario,Graduado,1994-04-27,FEM,1,"OPERARIO PARA DEPOSITO, CONFECCION DE PEDIDOS,...",<p>SE NECESITA OPERIARIO PARA DEPOSITO CONFECC...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Programación de producción,dm
2,1111780242,dYjRpMD,0,Secundario,Graduado,1994-04-27,FEM,1,"OPERARIO PARA DEPOSITO, CONFECCION DE PEDIDOS,...",<p>SE NECESITA OPERIARIO PARA DEPOSITO CONFECC...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Programación de producción,dm
3,1111780242,wVopPXl,0,Secundario,Graduado,1969-03-22,MASC,1,"OPERARIO PARA DEPOSITO, CONFECCION DE PEDIDOS,...",<p>SE NECESITA OPERIARIO PARA DEPOSITO CONFECC...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Programación de producción,dm
4,1111780242,wVopPXl,0,Secundario,Graduado,1969-03-22,MASC,1,"OPERARIO PARA DEPOSITO, CONFECCION DE PEDIDOS,...",<p>SE NECESITA OPERIARIO PARA DEPOSITO CONFECC...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Programación de producción,dm