In [5]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [6]:
sample = pd.read_csv('modelo/train_model.csv')
sample = sample.drop(columns='Unnamed: 0')

In [7]:
test_final = pd.read_csv('modelo/test_final_model.csv')
test_final = test_final.drop(columns='Unnamed: 0')

In [8]:
sample = sample.drop(columns=['tasa_idpostulante','tasa_idaviso'])
test_final = test_final.drop(columns=['tasa_idpostulante','tasa_idaviso'])

In [9]:
sample.head()

,y,edad,FEM,MASC,NO_DECLARA,Doctorado,Master,Otro,Posgrado,Secundario,...,Salud,Secretaria,Secretaria de Tráfico,Seguridad e Higiene,Seguros,Tecnologia/Sistemas,Tecnologia/Sistemas de producción,Ventas,Ventas económico-financiero,visto
0,0,32,1,0,0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0.0
1,0,24,0,1,0,0.0,0.0,3.0,0.0,3.0,...,0,0,0,0,0,0,0,0,0,0.0
2,0,30,1,0,0,0.0,0.0,0.0,0.0,3.0,...,0,0,0,0,0,0,0,0,0,0.0
3,0,35,0,1,0,0.0,0.0,3.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0.0
4,0,30,0,1,0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0.0

In [10]:
test_final.head()

,edad,FEM,MASC,NO_DECLARA,Doctorado,Master,Otro,Posgrado,Secundario,Terciario/Técnico,...,Salud,Secretaria,Secretaria de Tráfico,Seguridad e Higiene,Seguros,Tecnologia/Sistemas,Tecnologia/Sistemas de producción,Ventas,Ventas económico-financiero,visto
0,42,1,0,0,3.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,1,0,0.0
1,31,0,1,0,0.0,0.0,3.0,0.0,0.0,3.0,...,0,0,0,0,0,0,0,1,0,0.0
2,36,1,0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,1,0,0.0
3,69,0,1,0,0.0,0.0,0.0,3.0,0.0,0.0,...,0,0,0,0,0,1,0,0,0,0.0
4,32,1,0,0,0.0,0.0,0.0,0.0,0.0,2.0,...,0,0,0,0,0,1,0,0,0,0.0

# ML

In [11]:
from sklearn.metrics import roc_auc_score

In [12]:
sample, X_test, sample_y_train, y_test = train_test_split(sample.drop(columns='y'),sample['y'],random_state=0,test_size=0.01)

# Perceptron

In [13]:
from sklearn.linear_model import Perceptron

In [ ]:
model = Perceptron(penalty=None,n_jobs=-1)
model.fit(sample,sample_y_train)
predict = model.predict(X_test)

In [ ]:
roc_auc_score(y_test,predict)

In [ ]:
model = Perceptron(penalty='l1',n_jobs=-1)
model.fit(sample,sample_y_train)
predict = model.predict(X_test)

In [ ]:
roc_auc_score(y_test,predict)

In [ ]:
model = Perceptron(penalty='l2',n_jobs=-1)
model.fit(sample,sample_y_train)
predict = model.predict(X_test)

In [ ]:
roc_auc_score(y_test,predict)

# Random Forest

In [14]:
from sklearn.ensemble import RandomForestClassifier

In [15]:
model = RandomForestClassifier(n_jobs=-1)
model.fit(sample, sample_y_train)
predict = model.predict(X_test)

In [16]:
roc_auc_score(y_test,predict)

0.7653392978780056

# Gradient Boosting Classifier

from sklearn.ensemble import GradientBoostingClassifier

model = GradientBoostingClassifier(n_estimators=150)
model.fit(sample, sample_y_train)
predict = model.predict(X_test)

roc_auc_score(y_test,predict)

# Decision Tree Classifier

In [17]:
from sklearn.tree import DecisionTreeClassifier

In [18]:
model = DecisionTreeClassifier()
model.fit(sample, sample_y_train)
predict = model.predict(X_test)

In [19]:
roc_auc_score(y_test,predict)

0.7678614458045319

# Save

In [23]:
predict = model.predict(test_final)
predict = pd.DataFrame(predict,columns=['sepostulo'])
predict.to_csv('DTC_feat_importantes_datos_2m_final')