In [1]:
import pandas as pd
import numpy as np
import datetime
from sklearn.model_selection import train_test_split

#%matplotlib inline

# Cargo CSV

In [2]:
test_final = pd.read_csv('../data/test_final_100k.csv')
test_final = test_final.drop(columns='id')

In [3]:
postulantes_educacion = pd.read_csv('../data/datos_navent_fiuba/fiuba_1_postulantes_educacion.csv')
postulantes_educacion = postulantes_educacion.append(pd.read_csv('../data/fiuba_hasta_15_abril/fiuba_1_postulantes_educacion.csv'))
postulantes_educacion = postulantes_educacion.append(pd.read_csv('../data/fiuba_desde_15_abril/fiuba_1_postulantes_educacion.csv'))
postulantes_educacion = postulantes_educacion.reset_index().drop(columns='index')

In [4]:
postulantes_genero_y_edad = pd.read_csv('../data/datos_navent_fiuba/fiuba_2_postulantes_genero_y_edad.csv')
postulantes_genero_y_edad = postulantes_genero_y_edad.append(pd.read_csv('../data/fiuba_hasta_15_abril/fiuba_2_postulantes_genero_y_edad.csv'))
postulantes_genero_y_edad = postulantes_genero_y_edad.append(pd.read_csv('../data/fiuba_desde_15_abril/fiuba_2_postulantes_genero_y_edad.csv'))
postulantes_genero_y_edad = postulantes_genero_y_edad.reset_index().drop(columns='index')

In [5]:
vistas = pd.read_csv('../data/datos_navent_fiuba/fiuba_3_vistas.csv')
vistas = vistas.append(pd.read_csv('../data/fiuba_hasta_15_abril/fiuba_3_vistas.csv'))
vistas = vistas.append(pd.read_csv('../data/fiuba_desde_15_abril/fiuba_3_vistas.csv'))
vistas = vistas.reset_index().drop(columns='index')

In [6]:
postulaciones = pd.read_csv('../data/datos_navent_fiuba/fiuba_4_postulaciones.csv')
postulaciones = postulaciones.append(pd.read_csv('../data/fiuba_hasta_15_abril/fiuba_4_postulaciones.csv'))
# no tiene postulaciones -> pd.read_csv('data/fiuba_desde_15_abril/')
postulaciones = postulaciones.reset_index().drop(columns='index')

In [7]:
avisos_online = pd.read_csv('../data/datos_navent_fiuba/fiuba_5_avisos_online.csv')
avisos_online = avisos_online.append(pd.read_csv('../data/fiuba_hasta_15_abril/fiuba_5_avisos_online.csv'))
# no tiene avisos online pd.read_csv('data/fiuba_desde_15_abril/')
avisos_online = avisos_online.reset_index().drop(columns='index')

In [8]:
avisos_detalle = pd.read_csv('../data/datos_navent_fiuba/fiuba_6_avisos_detalle.csv')
avisos_detalle = avisos_detalle.append(pd.read_csv('../data/fiuba_hasta_15_abril/fiuba_6_avisos_detalle.csv'))
avisos_detalle = avisos_detalle.append(pd.read_csv('../data/fiuba_desde_15_abril/fiuba_6_avisos_detalle.csv'))
avisos_detalle = avisos_detalle.append(pd.read_csv('../data/fiuba_6_avisos_detalle_missing_nivel_laboral.csv'))
avisos_detalle = avisos_detalle.reset_index().drop(columns='index')

# Preproceso datos

### Limpio el DF *postulantes_educacion*

In [9]:
postulantes_educacion.head()

  idpostulante         nombre    estado
0         NdJl       Posgrado  En Curso
1         8BkL  Universitario  En Curso
2         1d2B  Universitario  En Curso
3         NPBx  Universitario  En Curso
4         NPBx         Master  En Curso

In [10]:
postulantes_educacion.shape

(1103193, 3)

In [11]:
postulantes_educacion.isnull().sum()

idpostulante    0
nombre          0
estado          0
dtype: int64

In [12]:
postulantes_educacion.isna().sum()

idpostulante    0
nombre          0
estado          0
dtype: int64

In [13]:
postulantes_educacion[(postulantes_educacion.duplicated()) & (postulantes_educacion['idpostulante'] == 'NdJl')]

       idpostulante         nombre    estado
298232         NdJl       Posgrado  En Curso
299293         NdJl  Universitario  Graduado
706921         NdJl       Posgrado  En Curso
707427         NdJl  Universitario  Graduado

In [14]:
postulantes_educacion = postulantes_educacion.drop_duplicates(keep='last')

In [15]:
postulantes_educacion = postulantes_educacion.reset_index().drop(columns='index')

### Limpio el DF *postulantes_genero_y_edad*

In [16]:
postulantes_genero_y_edad.head()

  idpostulante fechanacimiento  sexo
0         NM5M      1970-12-03   FEM
1         5awk      1962-12-04   FEM
2         ZaO5      1978-08-10   FEM
3         NdJl      1969-05-09  MASC
4         eo2p      1981-02-16  MASC

In [17]:
postulantes_genero_y_edad.shape

(780020, 3)

In [18]:
postulantes_genero_y_edad.isna().sum()

idpostulante           0
fechanacimiento    34273
sexo                   0
dtype: int64

In [19]:
postulantes_genero_y_edad.isnull().sum()

idpostulante           0
fechanacimiento    34273
sexo                   0
dtype: int64

Luego veremos que hacer con los ids sin fecha de nacimiento, por el momento los dejamos.

In [20]:
postulantes_genero_y_edad = postulantes_genero_y_edad.drop_duplicates()

In [21]:
postulantes_genero_y_edad[postulantes_genero_y_edad['idpostulante'] == '0zP6MJa']

       idpostulante fechanacimiento sexo
168364      0zP6MJa      1985-08-16  FEM
525452      0zP6MJa      1989-08-16  FEM

In [22]:
postulantes_genero_y_edad[postulantes_genero_y_edad['idpostulante'] == '0zPvY49']

       idpostulante fechanacimiento  sexo
485636      0zPvY49      1991-03-26  MASC
678829      0zPvY49      1991-03-26   FEM

In [23]:
#Dejo la ultima aparicion del duplicado, supongo que es el update más reciente
postulantes_genero_y_edad = postulantes_genero_y_edad.drop_duplicates(subset=['idpostulante'],keep='last')

In [24]:
postulantes_genero_y_edad[postulantes_genero_y_edad['idpostulante'] == '0zP6MJa']

       idpostulante fechanacimiento sexo
525452      0zP6MJa      1989-08-16  FEM

In [25]:
postulantes_genero_y_edad[postulantes_genero_y_edad['idpostulante'] == '0zPvY49']

       idpostulante fechanacimiento sexo
678829      0zPvY49      1991-03-26  FEM

In [26]:
postulantes_genero_y_edad['sexo'].value_counts()

FEM           251205
MASC          227853
NO_DECLARA     25342
0.0                7
Name: sexo, dtype: int64

Al igual que con la fecha de nacimiento, por el momento, dejamos los ids con sexo 0.0

In [27]:
postulantes_genero_y_edad = postulantes_genero_y_edad.reset_index().drop(columns='index')

### Limpio el DF *vistas*

In [28]:
vistas.head()

      idAviso                     timestamp idpostulante
0  1111780242  2018-02-23T13:38:13.187-0500      YjVJQ6Z
1  1112263876  2018-02-23T13:38:14.296-0500      BmVpYoR
2  1112327963  2018-02-23T13:38:14.329-0500      wVkBzZd
3  1112318643  2018-02-23T13:38:17.921-0500      OqmP9pv
4  1111903673  2018-02-23T13:38:18.973-0500      DrpbXDP

In [29]:
vistas.shape

(18368813, 3)

In [30]:
vistas.isna().sum()

idAviso         0
timestamp       0
idpostulante    0
dtype: int64

In [31]:
vistas.isnull().sum()

idAviso         0
timestamp       0
idpostulante    0
dtype: int64

In [32]:
vistas = vistas.drop_duplicates(keep='last')

In [33]:
vistas = vistas.reset_index().drop(columns='index')

### Limpio el DF *postulaciones*

In [34]:
postulaciones.head()

      idaviso idpostulante     fechapostulacion
0  1112257047         NM5M  2018-01-15 16:22:34
1  1111920714         NM5M  2018-02-06 09:04:50
2  1112346945         NM5M  2018-02-22 09:04:47
3  1112345547         NM5M  2018-02-22 09:04:59
4  1112237522         5awk  2018-01-25 18:55:03

In [35]:
postulaciones.shape

(8311264, 3)

In [36]:
postulaciones.isna().sum()

idaviso             0
idpostulante        0
fechapostulacion    0
dtype: int64

In [37]:
postulaciones.isnull().sum()

idaviso             0
idpostulante        0
fechapostulacion    0
dtype: int64

In [38]:
postulaciones = postulaciones.drop_duplicates(keep='last')

In [39]:
postulaciones = postulaciones.reset_index().drop(columns='index')

### Limpio el DF *avisos_online*

In [40]:
avisos_online.head()

      idaviso
0  1112355872
1  1112335374
2  1112374842
3  1111984070
4  1111822480

In [41]:
avisos_online.shape

(9886, 1)

In [42]:
avisos_online.isna().sum()

idaviso    0
dtype: int64

In [43]:
avisos_online.isnull().sum()

idaviso    0
dtype: int64

In [44]:
avisos_online = avisos_online.drop_duplicates(keep='last')

In [45]:
avisos_online = avisos_online.reset_index().drop(columns='index')

### Limpio el DF *avisos_detalle*

In [46]:
avisos_detalle.head()

,idaviso,idpais,titulo,descripcion,nombre_zona,ciudad,mapacalle,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
0,8725750,1,VENDEDOR/A PROVINCIA DE SANTA FE,<p><strong><strong>Empresa:</strong></strong> ...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Comercial,VENTOR
1,17903700,1,Enfermeras,<p>Solicitamos para importante cadena de farma...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Salud,Farmacias Central Oeste
2,1000150677,1,Chofer de taxi,<p>TE GUSTA MANEJAR? QUERES GANAR PLATA HACIEN...,Capital Federal,NaN,Empedrado 2336,Full-time,Senior / Semi-Senior,Transporte,FAMITAX SRL
3,1000610287,1,CHOFER DE CAMIONETA BAHIA BLANCA - PUNTA ALTA,<p><strong>Somos una empresa multinacional que...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Transporte,Wurth Argentina S.A
4,1000872556,1,Operarios de Planta - Rubro Electrodomésticos,<p><strong>OPERARIOS DE PLANTA</strong></p><p>...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Producción,ELECTRO OUTLET SRL

In [47]:
avisos_detalle.shape

(45969, 11)

In [48]:
avisos_detalle['idaviso'].duplicated().sum()

20681

In [49]:
avisos_detalle = avisos_detalle.drop_duplicates(subset=['idaviso'],keep='last')

In [50]:
avisos_detalle = avisos_detalle.reset_index().drop(columns='index')

# Preprocesamiento

In [51]:
# Agrego la edad de los postulantes
postulantes_genero_y_edad['fechanacimiento'] = pd.to_datetime(postulantes_genero_y_edad['fechanacimiento'],errors='coerce')
postulantes_genero_y_edad['edad'] = datetime.datetime.now().year - postulantes_genero_y_edad['fechanacimiento'].dt.year

In [52]:
postulantes_genero_y_edad.head()

  idpostulante fechanacimiento  sexo  edad
0         NM5M      1970-12-03   FEM  48.0
1         5awk      1962-12-04   FEM  56.0
2         ZaO5      1978-08-10   FEM  40.0
3         NdJl      1969-05-09  MASC  49.0
4         eo2p      1981-02-16  MASC  37.0

In [53]:
# Despues veo que hago con los que no tienen edad
postulantes_genero_y_edad.isna().sum()

idpostulante           0
fechanacimiento    26096
sexo                   0
edad               26096
dtype: int64

In [54]:
# Separa la gente postulada, luego los busco en el DF que junta todos los postulantes
# y me quedo con los opuestos, los no postulados.
# esto me va a servir para samplear
# GENTE NO POSTULADA
gente_no_postulada = postulantes_genero_y_edad[-postulantes_genero_y_edad['idpostulante'].\
                                               isin(postulaciones['idpostulante'].value_counts().index)]
gente_no_postulada = gente_no_postulada.reset_index(drop=True)

In [55]:
gente_no_postulada['sexo'].value_counts()

FEM           71992
MASC          67819
NO_DECLARA    15707
0.0               6
Name: sexo, dtype: int64

In [56]:
# Pocos datos con sexo invalido, los desecho ya que son los no postulados
gente_no_postulada = gente_no_postulada.drop(gente_no_postulada[gente_no_postulada['sexo'] == '0.0'].index)

In [57]:
# GENTE POSTULADA
gente_postulada = postulantes_genero_y_edad[postulantes_genero_y_edad['idpostulante'].\
                                               isin(postulaciones['idpostulante'].value_counts().index)]
gente_postulada = gente_postulada.reset_index(drop=True)

In [58]:
gente_postulada['sexo'].value_counts()

FEM           179213
MASC          160034
NO_DECLARA      9635
0.0                1
Name: sexo, dtype: int64

In [59]:
# Reemplazo el sexo invalido por NO_DECLARA
gente_postulada.loc[gente_postulada['sexo'] == '0.0','sexo'] = 'NO_DECLARA'

In [60]:
# Dropeo los datos invalidos de los no postulados (se podria buscar alguna forma de salvarlos)
gente_no_postulada = gente_no_postulada.dropna()
gente_no_postulada = gente_no_postulada.reset_index(drop=True)
gente_no_postulada['edad'] = gente_no_postulada['edad'].astype('int32')

In [61]:
# En un principio los relleno con la media de los postulantes
gente_postulada.loc[gente_postulada['edad'].isna(),'edad'] = int(postulantes_genero_y_edad['edad'].mean())
gente_postulada['edad'] = gente_postulada['edad'].astype('int32')

In [62]:
gente_postulada.isna().sum()

idpostulante           0
fechanacimiento    10074
sexo                   0
edad                   0
dtype: int64

# Funciones de utilidad

In [63]:
# fijarse de balancear el sample con 50% de postulados y no postulados

# Generador de sample
# el id tiene que estar en la columna 0
# Recibe los DFs de idpostulante e idaviso
def generador_de_sample_df(idaviso, idpostulante, n_sample, ciclos):
    idpostulante = idpostulante.drop(columns=idpostulante.columns[1:])
    idaviso = idaviso.drop(columns=idaviso.columns[1:])
    idpostulante['tem'] = 1
    idaviso['tem'] = 1
    sample_append = pd.DataFrame(columns=[idpostulante.columns[0],'tem',idaviso.columns[0]])
    for i in range(0,ciclos):
        sample_idpostulante = idpostulante.sample(n=n_sample,random_state=i)
        sample_idaviso = idaviso.sample(n=n_sample,random_state=i)
        sample_merge = sample_idaviso.merge(sample_idpostulante)
        sample_append = sample_append.append(sample_merge)
    sample_append = sample_append.drop(columns='tem')
    sample_append = sample_append.reset_index(drop=True)
    return sample_append

In [64]:
# Recibe las series de idpostulante e idaviso
def generador_de_sample_serie(idaviso, idpostulante, n_sample, ciclos):
    idpostulante = pd.DataFrame(idpostulante)
    idaviso = pd.DataFrame(idaviso)
    idpostulante['tem'] = 1
    idaviso['tem'] = 1
    sample_append = pd.DataFrame(columns=[idpostulante.columns[0],'tem',idaviso.columns[0]])
    for i in range(0,ciclos):
        sample_idpostulante = idpostulante.sample(n=n_sample,random_state=i)
        sample_idaviso = idaviso.sample(n=n_sample,random_state=i)
        sample_merge = sample_idaviso.merge(sample_idpostulante)
        sample_append = sample_append.append(sample_merge)
    sample_append = sample_append.drop(columns='tem')
    sample_append = sample_append.reset_index(drop=True)
    return sample_append

In [65]:
def borrar_tuplas_test_del_sample(sample,test_final):
    df_return = sample.merge(test_final,how='left',on=['idaviso','idpostulante'],indicator=True)
    df_return = df_return[df_return['_merge'] == 'left_only']
    df_return = df_return.drop(columns='_merge')
    return df_return

In [66]:
def oneHotEncoding(df, columna):
    one_hot = pd.get_dummies(df[columna])
    df.drop(columna, axis=1, inplace=True)
    df = pd.concat([df, one_hot], axis=1)
    return df

In [67]:
# la siguiente funcion tiene en cuenta los estados maximos de los diferentes estudios
def educacion_ponderado_por_estado(postulantes_educacion):
    dic = {'Graduado': 3,'En Curso': 2,'Abandonado': 1}
    postulantes_educacion['estado'] = postulantes_educacion['estado'].map(dic)
    postulantes_educacion = postulantes_educacion.groupby(['idpostulante','nombre']).max().unstack(fill_value=0)
    postulantes_educacion.columns = postulantes_educacion.columns.droplevel()
    postulantes_educacion = postulantes_educacion.reset_index()
    postulantes_educacion = postulantes_educacion.rename_axis('',axis='columns')
    return postulantes_educacion

In [68]:
# la siguiente funcion tiene en cuenta solo el estado maximo sin diferenciar estudios
def educacion_ponderado_por_estado_maximo(postulantes_educacion):
    dic = {'Graduado': 2,'En Curso': 1,'Abandonado': 0}
    postulantes_educacion['estado'] = postulantes_educacion['estado'].map(dic)
    postulantes_educacion = postulantes_educacion.groupby('idpostulante').agg({'estado':'min'})
    postulantes_educacion = postulantes_educacion.reset_index()
    return postulantes_educacion

# Funciones feature

In [69]:
def feature_postulante_se_postulo_al_aviso(tupla_idaviso_idpostulante,postulaciones):
    df_return = tupla_idaviso_idpostulante.merge(postulaciones,on=['idaviso','idpostulante'],how='left')
    return df_return

In [70]:
def feature_genero_edad(tupla_idaviso_idpostulante,postulantes_genero_y_edad):
    df_return = tupla_idaviso_idpostulante.merge(postulantes_genero_y_edad,on='idpostulante',how='left')
    return df_return

In [73]:
# la siguiente funcion tiene en cuenta los estados maximos de los diferentes estudios
def educacion_ponderado_por_estado(postulantes_educacion):
    dic = {'Graduado': 3,'En Curso': 2,'Abandonado': 1}
    #postulantes_educacion['estado'] = postulantes_educacion['estado'].astype('category')
    postulantes_educacion['estado'] = postulantes_educacion['estado'].map(dic)
    postulantes_educacion = postulantes_educacion.groupby(['idpostulante','nombre']).max().unstack(fill_value=0)
    postulantes_educacion.columns = postulantes_educacion.columns.droplevel()
    postulantes_educacion = postulantes_educacion.reset_index()
    postulantes_educacion = postulantes_educacion.rename_axis('',axis='columns')
    return postulantes_educacion

In [74]:
# la siguiente funcion tiene en cuenta solo el estado maximo sin diferenciar estudios
def educacion_ponderado_por_estado_maximo(postulantes_educacion):
    dic = {'Graduado': 2,'En Curso': 1,'Abandonado': 0}
    postulantes_educacion['estado'] = postulantes_educacion['estado'].map(dic,na_action='ignore')
    postulantes_educacion = postulantes_educacion.groupby('idpostulante').agg({'estado':'min'})
    postulantes_educacion = postulantes_educacion.reset_index()
    return postulantes_educacion

# Gente postulada

In [75]:
tupla_postulada = postulaciones.drop(columns='fechapostulacion')
tupla_postulada['y'] = 1
tupla_postulada = feature_genero_edad(tupla_postulada,gente_postulada)
tupla_postulada = tupla_postulada.drop(columns='fechanacimiento')
tupla_postulada = oneHotEncoding(tupla_postulada,'sexo')

KeyError: 'estado'

In [72]:
tupla_postulada.head()

      idaviso idpostulante  y  edad  FEM  MASC  NO_DECLARA
0  1112257047         NM5M  1    48    1     0           0
1  1111920714         NM5M  1    48    1     0           0
2  1112346945         NM5M  1    48    1     0           0
3  1112345547         NM5M  1    48    1     0           0
4  1112237522         5awk  1    56    1     0           0

# Gente no postulada

In [73]:
sample = generador_de_sample_serie(avisos_detalle['idaviso'],gente_no_postulada['idpostulante'],100,100)
sample['y'] = 0
sample = feature_genero_edad(sample,gente_no_postulada)
sample = sample.drop(columns='fechanacimiento')
sample = oneHotEncoding(sample,'sexo')

In [74]:
sample.head()

      idaviso idpostulante  y  edad  FEM  MASC  NO_DECLARA
0  1112390041      GNZ8JWK  0    55    0     1           0
1  1112390041      ZDlz5E1  0    21    1     0           0
2  1112390041        a0N4q  0    43    1     0           0
3  1112390041       ep41j9  0    32    0     1           0
4  1112390041       awOL1m  0    34    1     0           0

# Test Final

In [75]:
test_final = feature_genero_edad(test_final,gente_postulada.append(gente_no_postulada))

In [76]:
# Veo si hay datos nulos
test_final.isna().sum()

idaviso               0
idpostulante          0
fechanacimiento    2838
sexo               2278
edad               2278
dtype: int64

In [77]:
# Salvo datos nulos
test_final.loc[test_final['sexo'].isna(),'sexo'] = 'NO_DECLARA'
test_final.loc[test_final['edad'].isna(),'edad'] = int(postulantes_genero_y_edad['edad'].mean())

In [78]:
test_final.isna().sum()

idaviso               0
idpostulante          0
fechanacimiento    2838
sexo                  0
edad                  0
dtype: int64

In [79]:
test_final.head()

   idaviso idpostulante fechanacimiento  sexo  edad
0   739260       6M9ZQR      1976-03-29   FEM  42.0
1   739260       6v1xdL      1987-06-27  MASC  31.0
2   739260       ezRKm9      1982-02-17   FEM  36.0
3   758580       1Q35ej      1949-12-24  MASC  69.0
4   758580       EAN4J6      1986-05-27   FEM  32.0

In [80]:
#test_final = test_final.drop(columns=['idaviso','idpostulante','fechanacimiento'])
test_final['edad'] = test_final['edad'].astype('int32')
test_final = test_final.drop(columns='fechanacimiento')
test_final = oneHotEncoding(test_final,'sexo')

In [81]:
test_final.head()

   idaviso idpostulante  edad  FEM  MASC  NO_DECLARA
0   739260       6M9ZQR    42    1     0           0
1   739260       6v1xdL    31    0     1           0
2   739260       ezRKm9    36    1     0           0
3   758580       1Q35ej    69    0     1           0
4   758580       EAN4J6    32    1     0           0

# ML

In [82]:
# Metodo para calcular el error de la competencia
from sklearn.metrics import roc_auc_score
# Metodos de clasificacion
from sklearn.neighbors import KNeighborsClassifier

In [83]:
sample = sample.append(tupla_postulada.sample(n=1000000,random_state=0))

In [84]:
sample.head()

      idaviso idpostulante  y  edad  FEM  MASC  NO_DECLARA
0  1112390041      GNZ8JWK  0    55    0     1           0
1  1112390041      ZDlz5E1  0    21    1     0           0
2  1112390041        a0N4q  0    43    1     0           0
3  1112390041       ep41j9  0    32    0     1           0
4  1112390041       awOL1m  0    34    1     0           0

In [85]:
sample.tail()

            idaviso idpostulante  y  edad  FEM  MASC  NO_DECLARA
4019134  1112457433      RzMAmXo  1    24    1     0           0
1441298  1112306596      ekOJ0L9  1    31    0     1           0
1290650  1112262555      PmJExxE  1    29    1     0           0
4598828  1112296411      4rPXrkM  1    25    0     1           0
6441257  1112355579      xkPYo6z  1    42    0     1           0

In [86]:
sample = sample.drop(columns=['idaviso','idpostulante'])

In [93]:
len(sample)

2000000

In [106]:
sample.head()

   y  edad  FEM  MASC  NO_DECLARA
0  0    55    0     1           0
1  0    21    1     0           0
2  0    43    1     0           0
3  0    32    0     1           0
4  0    34    1     0           0

In [100]:
# Divido el set
X_train, X_test, y_train, y_test = train_test_split(sample.drop(columns='y'),sample['y'],random_state=0,test_size=0.01)

In [101]:
y_train.value_counts()

1    990048
0    989952
Name: y, dtype: int64

In [102]:
y_test.value_counts()

0    10048
1     9952
Name: y, dtype: int64

# Perceptron

In [107]:
from sklearn.linear_model import Perceptron

In [108]:
model = Perceptron()
model.fit(X_train,y_train)
predict = model.predict(X_test)

/usr/local/lib/python2.7/dist-packages/sklearn/linear_model/stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)

In [109]:
roc_auc_score(y_test,predict)

0.5120444375038401

# KNN

In [ ]:
model = KNeighborsClassifier(n_neighbors=3)
model.fit(X_train,y_train)
predict = model.predict(X_test)

In [ ]:
roc_auc_score(y_test,predict)

# Random Forest

In [103]:
from sklearn.ensemble import RandomForestClassifier

In [104]:
model = RandomForestClassifier(n_estimators=100,random_state=0, n_jobs=-1)
model.fit(X_train, y_train)
predict = model.predict(X_test)

In [105]:
roc_auc_score(y_test,predict)

0.580524735289901

# Gradient Boosting Classifier

In [110]:
from sklearn.ensemble import GradientBoostingClassifier

In [111]:
model = GradientBoostingClassifier(n_estimators=150)
model.fit(X_train, y_train)
predict = model.predict(X_test)

In [112]:
roc_auc_score(y_test,predict)

0.5802261684109201