In [1]:
import pandas as pd
import numpy as np
import scipy as sp

%matplotlib inline

# Cargo todos los CSV

In [2]:
postulantes_educacion = pd.read_csv('data/datos_navent_fiuba/fiuba_1_postulantes_educacion.csv')
postulantes_educacion = postulantes_educacion.append(pd.read_csv('data/fiuba_hasta_15_abril/fiuba_1_postulantes_educacion.csv'))
postulantes_educacion = postulantes_educacion.append(pd.read_csv('data/fiuba_desde_15_abril/fiuba_1_postulantes_educacion.csv'))

In [77]:
postulantes_genero_y_edad = pd.read_csv('data/datos_navent_fiuba/fiuba_2_postulantes_genero_y_edad.csv')
postulantes_genero_y_edad = postulantes_genero_y_edad.append(pd.read_csv('data/fiuba_hasta_15_abril/fiuba_2_postulantes_genero_y_edad.csv'))
postulantes_genero_y_edad = postulantes_genero_y_edad.append(pd.read_csv('data/fiuba_desde_15_abril/fiuba_2_postulantes_genero_y_edad.csv'))

In [2]:
vistas = pd.read_csv('data/datos_navent_fiuba/fiuba_3_vistas.csv')
vistas = vistas.append(pd.read_csv('data/fiuba_hasta_15_abril/fiuba_3_vistas.csv'))
vistas = vistas.append(pd.read_csv('data/fiuba_desde_15_abril/fiuba_3_vistas.csv'))

In [5]:
postulaciones = pd.read_csv('data/datos_navent_fiuba/fiuba_4_postulaciones.csv')
postulaciones = postulaciones.append(pd.read_csv('data/fiuba_hasta_15_abril/fiuba_4_postulaciones.csv'))
# no tiene postulaciones -> pd.read_csv('data/fiuba_desde_15_abril/')

In [6]:
avisos_online = pd.read_csv('data/datos_navent_fiuba/fiuba_5_avisos_online.csv')
avisos_online = avisos_online.append(pd.read_csv('data/fiuba_hasta_15_abril/fiuba_5_avisos_online.csv'))
# no tiene avisos online pd.read_csv('data/fiuba_desde_15_abril/')

In [7]:
avisos_detalle = pd.read_csv('data/datos_navent_fiuba/fiuba_6_avisos_detalle.csv')
avisos_detalle = avisos_detalle.append(pd.read_csv('data/fiuba_hasta_15_abril/fiuba_6_avisos_detalle.csv'))
avisos_detalle = avisos_detalle.append(pd.read_csv('data/fiuba_desde_15_abril/fiuba_6_avisos_detalle.csv'))
avisos_detalle = avisos_detalle.append(pd.read_csv('data/fiuba_6_avisos_detalle_missing_nivel_laboral.csv'))

- Limpio el DF *postulantes_educacion*

In [33]:
postulantes_educacion = postulantes_educacion.reset_index().drop(columns='index')

In [49]:
postulantes_educacion.head()

  idpostulante         nombre    estado
0         NdJl       Posgrado  En Curso
1         8BkL  Universitario  En Curso
2         1d2B  Universitario  En Curso
3         NPBx  Universitario  En Curso
4         NPBx         Master  En Curso

In [37]:
postulantes_educacion.isnull().sum()

idpostulante    0
nombre          0
estado          0
dtype: int64

In [38]:
postulantes_educacion.isna().sum()

idpostulante    0
nombre          0
estado          0
dtype: int64

- Limpio el DF *postulantes_genero_y_edad*

In [42]:
postulantes_genero_y_edad = postulantes_genero_y_edad.reset_index().drop(columns='index')

In [50]:
postulantes_genero_y_edad.head()

  idpostulante fechanacimiento  sexo
0         NM5M      1970-12-03   FEM
1         5awk      1962-12-04   FEM
2         ZaO5      1978-08-10   FEM
3         NdJl      1969-05-09  MASC
4         eo2p      1981-02-16  MASC

In [87]:
postulantes_genero_y_edad = postulantes_genero_y_edad[-postulantes_genero_y_edad['fechanacimiento'].isna()]

In [91]:
postulantes_genero_y_edad = postulantes_genero_y_edad[-postulantes_genero_y_edad.duplicated()]

In [97]:
#postulantes_genero_y_edad[postulantes_genero_y_edad['idpostulante'].duplicated()].sort_values('idpostulante')
#Preguntar que hacer con los datos invalidos en este caso, mismo idpostulante pero fecha de nacimiento o sexo cambiado

In [98]:
postulantes_genero_y_edad[postulantes_genero_y_edad['idpostulante'] == '0zP6MJa']

       idpostulante fechanacimiento sexo
168364      0zP6MJa      1985-08-16  FEM
26817       0zP6MJa      1989-08-16  FEM

In [99]:
postulantes_genero_y_edad[postulantes_genero_y_edad['idpostulante'] == '0zPvY49']

       idpostulante fechanacimiento  sexo
284748      0zPvY49      1991-03-26  MASC
180194      0zPvY49      1991-03-26   FEM

- Limpio el DF *vistas*

In [3]:
vistas = vistas.reset_index().drop(columns='index')

In [7]:
vistas.isna().sum()

idAviso         0
timestamp       0
idpostulante    0
dtype: int64

In [8]:
vistas.isnull().sum()

idAviso         0
timestamp       0
idpostulante    0
dtype: int64

In [4]:
vistas.duplicated().sum()

1614515

In [5]:
vistas[vistas.duplicated()]

             idAviso                     timestamp idpostulante
995953    1112300893  2018-04-06T09:19:02.303-0400      bOVYXA0
997746    1112393319  2018-04-06T09:26:38.416-0400      bOVYXA0
997750    1112393319  2018-04-06T09:26:38.430-0400      bOVYXA0
997776    1112219986  2018-04-06T09:26:41.117-0400      bOVYXA0
1000074   1112411929  2018-04-06T09:35:58.936-0400      bOVYXA0
1009233   1112442107  2018-04-06T10:12:07.121-0400      0zBEAj8
1020722   1112394384  2018-04-06T10:55:14.893-0400      VNkNBbd
1041302   1112094756  2018-04-06T12:07:53.734-0400      owaVVZW
1043217   1112447221  2018-04-06T12:15:05.059-0400       5drAzM
1047169   1112446506  2018-04-06T12:29:48.527-0400      1Q4LzDE
1048945   1112444592  2018-04-06T12:36:10.794-0400      96XlzOa
1048969   1112444592  2018-04-06T12:36:14.609-0400      96XlzOa
1049117   1112443958  2018-04-06T12:36:41.468-0400      96XlzOa
1082141   1112422952  2018-03-27T08:39:04.352-0400      LNPExVr
1102517   1112406725  2018-03-27T10:48:24.386-0400      3NzX8mr
1119912   1112406725  2018-03-27T10:48:27.949-0400      3NzX8mr
1132367   1112357818  2018-03-23T14:30:16.753-0400      W9WNW8a
1157227   1112431054  2018-03-30T10:08:10.223-0400      KBajRqm
1159083   1112432822  2018-03-30T15:38:03.138-0400      Nz01q9D
1179002   1112316808  2018-04-02T20:31:48.692-0400       5LYVDk
1179016   1112316808  2018-04-02T20:31:48.758-0400       5LYVDk
1179030   1112316808  2018-04-02T20:31:48.835-0400       5LYVDk
1183701   1112429693  2018-04-02T20:12:50.754-0400       ElZMX9
1188443   1112380769  2018-04-02T20:36:48.746-0400      ow258M3
1190559   1112390979  2018-04-02T21:14:14.830-0400      DrXR3WL
1190567   1112390979  2018-04-02T21:14:23.666-0400      DrXR3WL
1190594   1112390979  2018-04-02T21:14:31.199-0400      DrXR3WL
1190595   1112390979  2018-04-02T21:14:31.199-0400      DrXR3WL
1190606   1112390979  2018-04-02T21:14:32.635-0400      DrXR3WL
1195738   1112410217  2018-03-31T00:09:31.749-0400      lDLa96j
...              ...                           ...          ...
18368688  1112466410  2018-04-16T10:07:22.074-0400      OqjevNN
18368707  1112421119  2018-04-16T10:07:23.007-0400       Y5rO3X
18368708  1112464784  2018-04-16T10:07:22.933-0400       ZNjbk1
18368714  1112455094  2018-04-16T10:07:23.102-0400      4rdJ5VE
18368732  1112425871  2018-04-16T10:07:23.951-0400      LNwNwAq
18368737  1112377689  2018-04-16T10:07:24.092-0400      OqrMMPW
18368744  1112451135  2018-04-16T10:07:24.577-0400      lDLa3O3
18368746  1112304125  2018-04-16T10:07:24.655-0400       6AxoNj
18368748  1112425064  2018-04-16T10:07:24.887-0400      3NPJGow
18368749  1112409742  2018-04-16T10:07:24.928-0400      1QP509b
18368751  1112409484  2018-04-16T10:07:25.051-0400      Ezpw8po
18368754  1112414507  2018-04-16T10:07:25.205-0400       1pREEj
18368762  1112460632  2018-04-16T10:07:25.494-0400      VNJLQ2j
18368765  1112421119  2018-04-16T10:07:25.650-0400       Y5rO3X
18368767  1112411363  2018-04-16T10:07:25.803-0400       6Apz5L
18368768  1112409742  2018-04-16T10:07:25.801-0400      1QP509b
18368773  1112466127  2018-04-16T10:07:25.883-0400      zvPvvZE
18368775  1112214523  2018-04-16T10:07:25.967-0400       11jjXz
18368779  1112447440  2018-04-16T10:07:26.194-0400       5LGqoX
18368780  1112425064  2018-04-16T10:07:26.213-0400      3NPJGow
18368782  1112033906  2018-04-16T10:07:26.259-0400      Rz9dOox
18368783  1112411596  2018-04-16T10:07:26.348-0400      wVXl1dL
18368784  1112223876  2018-04-16T10:07:26.485-0400       ZXY881
18368788  1112145679  2018-04-16T10:07:26.658-0400       ZWWrY5
18368791  1112414507  2018-04-16T10:07:26.858-0400       1pREEj
18368796  1112411596  2018-04-16T10:07:26.982-0400      wVXl1dL
18368799  1111970596  2018-04-16T10:07:27.031-0400      LNwLrjp
18368800  1112417987  2018-04-16T10:07:27.037-0400       ZqxMM8
18368801  1112305373  2018-04-16T10:07:27.100-0400      ekObDp4
18368811  1112442707  2018-04-16T10:07:27.337-0400      BmV5wza

[1614515 rows x 3 columns]