In [6]:
import pandas as pd
import numpy as np
import scipy as sp
import datetime
from sklearn.model_selection import train_test_split

%matplotlib inline

In [7]:
def oneHotEncoding(df, columna):
  
    one_hot = pd.get_dummies(df[columna])
    df.drop(columna, axis=1, inplace=True)
    df = pd.concat([df, one_hot], axis=1)
    return df

# Inicio carga

In [8]:
test_final = pd.read_csv('../data/test_final_100k.csv')

In [9]:
#postulantes_educacion = pd.read_csv('../data/datos_navent_fiuba/fiuba_1_postulantes_educacion.csv')
#postulantes_educacion = postulantes_educacion.append(pd.read_csv('../data/fiuba_hasta_15_abril/fiuba_1_postulantes_educacion.csv'))
#postulantes_educacion = postulantes_educacion.append(pd.read_csv('../data/fiuba_desde_15_abril/fiuba_1_postulantes_educacion.csv'))

In [43]:
postulantes_genero_y_edad = pd.read_csv('../data/datos_navent_fiuba/fiuba_2_postulantes_genero_y_edad.csv')
postulantes_genero_y_edad = postulantes_genero_y_edad.append(pd.read_csv('../data/fiuba_hasta_15_abril/fiuba_2_postulantes_genero_y_edad.csv'))
postulantes_genero_y_edad = postulantes_genero_y_edad.append(pd.read_csv('../data/fiuba_desde_15_abril/fiuba_2_postulantes_genero_y_edad.csv'))

In [11]:
#vistas = pd.read_csv('../data/datos_navent_fiuba/fiuba_3_vistas.csv')
#vistas = vistas.append(pd.read_csv('../data/fiuba_hasta_15_abril/fiuba_3_vistas.csv'))
#vistas = vistas.append(pd.read_csv('../data/fiuba_desde_15_abril/fiuba_3_vistas.csv'))

In [12]:
postulaciones = pd.read_csv('../data/datos_navent_fiuba/fiuba_4_postulaciones.csv')
postulaciones = postulaciones.append(pd.read_csv('../data/fiuba_hasta_15_abril/fiuba_4_postulaciones.csv'))
# no tiene postulaciones -> pd.read_csv('data/fiuba_desde_15_abril/')

In [11]:
#avisos_online = pd.read_csv('../data/datos_navent_fiuba/fiuba_5_avisos_online.csv')
#avisos_online = avisos_online.append(pd.read_csv('../data/fiuba_hasta_15_abril/fiuba_5_avisos_online.csv'))
# no tiene avisos online pd.read_csv('data/fiuba_desde_15_abril/')

In [5]:
#avisos_detalle = pd.read_csv('../data/datos_navent_fiuba/fiuba_6_avisos_detalle.csv')
#avisos_detalle = avisos_detalle.append(pd.read_csv('../data/fiuba_hasta_15_abril/fiuba_6_avisos_detalle.csv'))
#avisos_detalle = avisos_detalle.append(pd.read_csv('../data/fiuba_desde_15_abril/fiuba_6_avisos_detalle.csv'))
#avisos_detalle = avisos_detalle.append(pd.read_csv('../data/fiuba_6_avisos_detalle_missing_nivel_laboral.csv'))

# Fin carga

# Inicio limpieza

- Limpio el DF *postulantes_educacion*

In [13]:
postulantes_educacion = postulantes_educacion.reset_index().drop(columns='index')

In [14]:
postulantes_educacion.head()

  idpostulante         nombre    estado
0         NdJl       Posgrado  En Curso
1         8BkL  Universitario  En Curso
2         1d2B  Universitario  En Curso
3         NPBx  Universitario  En Curso
4         NPBx         Master  En Curso

In [15]:
postulantes_educacion.isnull().sum()

idpostulante    0
nombre          0
estado          0
dtype: int64

In [16]:
postulantes_educacion.isna().sum()

idpostulante    0
nombre          0
estado          0
dtype: int64

- Limpio el DF *postulantes_genero_y_edad*

In [13]:
postulantes_genero_y_edad = postulantes_genero_y_edad.reset_index().drop(columns='index')

In [14]:
postulantes_genero_y_edad.head()

  idpostulante fechanacimiento  sexo
0         NM5M      1970-12-03   FEM
1         5awk      1962-12-04   FEM
2         ZaO5      1978-08-10   FEM
3         NdJl      1969-05-09  MASC
4         eo2p      1981-02-16  MASC

In [15]:
postulantes_genero_y_edad.shape

(780020, 3)

In [16]:
postulantes_genero_y_edad.isna().sum()

idpostulante           0
fechanacimiento    34273
sexo                   0
dtype: int64

In [17]:
postulantes_genero_y_edad.isnull().sum()

idpostulante           0
fechanacimiento    34273
sexo                   0
dtype: int64

In [18]:
#postulantes_genero_y_edad[postulantes_genero_y_edad['fechanacimiento'].isna()]

In [19]:
postulantes_genero_y_edad = postulantes_genero_y_edad[-postulantes_genero_y_edad['fechanacimiento'].isna()]

In [20]:
postulantes_genero_y_edad = postulantes_genero_y_edad.drop_duplicates()

In [21]:
postulantes_genero_y_edad[postulantes_genero_y_edad['idpostulante'] == '0zP6MJa']

       idpostulante fechanacimiento sexo
168364      0zP6MJa      1985-08-16  FEM
525452      0zP6MJa      1989-08-16  FEM

In [22]:
postulantes_genero_y_edad[postulantes_genero_y_edad['idpostulante'] == '0zPvY49']

       idpostulante fechanacimiento  sexo
485636      0zPvY49      1991-03-26  MASC
678829      0zPvY49      1991-03-26   FEM

In [23]:
#Dejo la ultima aparicion del duplicado, supongo que es el update más reciente
postulantes_genero_y_edad = postulantes_genero_y_edad.drop_duplicates(subset=['idpostulante'],keep='last')

In [24]:
postulantes_genero_y_edad[postulantes_genero_y_edad['idpostulante'] == '0zP6MJa']

       idpostulante fechanacimiento sexo
525452      0zP6MJa      1989-08-16  FEM

In [25]:
postulantes_genero_y_edad[postulantes_genero_y_edad['idpostulante'] == '0zPvY49']

       idpostulante fechanacimiento sexo
678829      0zPvY49      1991-03-26  FEM

In [26]:
postulantes_genero_y_edad = postulantes_genero_y_edad[(postulantes_genero_y_edad['fechanacimiento'].str.startswith('19')) \
                                                      | (postulantes_genero_y_edad['fechanacimiento'].str.startswith('20'))]

In [27]:
postulantes_genero_y_edad['sexo'].value_counts()

FEM           250231
MASC          226981
NO_DECLARA      1095
0.0                2
Name: sexo, dtype: int64

In [28]:
# SEXO 0.0 !!! Los borro
postulantes_genero_y_edad = postulantes_genero_y_edad[-(postulantes_genero_y_edad['sexo'] == '0.0')]

In [29]:
postulantes_genero_y_edad = postulantes_genero_y_edad.reset_index().drop(columns='index')

- Limpio el DF *vistas*

In [34]:
vistas = vistas.reset_index().drop(columns='index')

In [35]:
vistas.head()

      idAviso                     timestamp idpostulante
0  1111780242  2018-02-23T13:38:13.187-0500      YjVJQ6Z
1  1112263876  2018-02-23T13:38:14.296-0500      BmVpYoR
2  1112327963  2018-02-23T13:38:14.329-0500      wVkBzZd
3  1112318643  2018-02-23T13:38:17.921-0500      OqmP9pv
4  1111903673  2018-02-23T13:38:18.973-0500      DrpbXDP

In [36]:
vistas.shape

(18368813, 3)

In [37]:
vistas.isna().sum()

idAviso         0
timestamp       0
idpostulante    0
dtype: int64

In [38]:
vistas.isnull().sum()

idAviso         0
timestamp       0
idpostulante    0
dtype: int64

In [39]:
vistas.duplicated().sum()

1614515

In [40]:
vistas = vistas.drop_duplicates(keep='last')

In [41]:
vistas.shape[0] + 1614515

18368813

In [42]:
vistas = vistas.reset_index().drop(columns='index')

- Limpio el DF *postulaciones*

In [30]:
postulaciones = postulaciones.reset_index().drop(columns='index')

In [31]:
postulaciones.head()

      idaviso idpostulante     fechapostulacion
0  1112257047         NM5M  2018-01-15 16:22:34
1  1111920714         NM5M  2018-02-06 09:04:50
2  1112346945         NM5M  2018-02-22 09:04:47
3  1112345547         NM5M  2018-02-22 09:04:59
4  1112237522         5awk  2018-01-25 18:55:03

In [32]:
postulaciones.shape

(8311264, 3)

In [33]:
postulaciones.isna().sum()

idaviso             0
idpostulante        0
fechapostulacion    0
dtype: int64

In [34]:
postulaciones.isnull().sum()

idaviso             0
idpostulante        0
fechapostulacion    0
dtype: int64

In [35]:
postulaciones.duplicated().sum()

1706730

In [36]:
postulaciones = postulaciones.drop_duplicates(keep='last')

In [37]:
postulaciones = postulaciones.reset_index().drop(columns='index')

In [38]:
postulaciones.shape

(6604534, 3)

- Limpio el DF *avisos_online*

In [52]:
avisos_online = avisos_online.reset_index().drop(columns='index')

In [53]:
avisos_online.head()

      idaviso
0  1112355872
1  1112335374
2  1112374842
3  1111984070
4  1111822480

In [54]:
avisos_online.isna().sum()

idaviso    0
dtype: int64

In [55]:
avisos_online.isnull().sum()

idaviso    0
dtype: int64

In [56]:
avisos_online = avisos_online.drop_duplicates(keep='last')

In [57]:
avisos_online = avisos_online.reset_index().drop(columns='index')

- Limpio el DF *avisos_detalle*

In [58]:
avisos_detalle = avisos_detalle.reset_index().drop(columns='index')

In [59]:
avisos_detalle.head()

,idaviso,idpais,titulo,descripcion,nombre_zona,ciudad,mapacalle,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
0,8725750,1,VENDEDOR/A PROVINCIA DE SANTA FE,<p><strong><strong>Empresa:</strong></strong> ...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Comercial,VENTOR
1,17903700,1,Enfermeras,<p>Solicitamos para importante cadena de farma...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Salud,Farmacias Central Oeste
2,1000150677,1,Chofer de taxi,<p>TE GUSTA MANEJAR? QUERES GANAR PLATA HACIEN...,Capital Federal,NaN,Empedrado 2336,Full-time,Senior / Semi-Senior,Transporte,FAMITAX SRL
3,1000610287,1,CHOFER DE CAMIONETA BAHIA BLANCA - PUNTA ALTA,<p><strong>Somos una empresa multinacional que...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Transporte,Wurth Argentina S.A
4,1000872556,1,Operarios de Planta - Rubro Electrodomésticos,<p><strong>OPERARIOS DE PLANTA</strong></p><p>...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Producción,ELECTRO OUTLET SRL

In [60]:
avisos_detalle.shape

(45969, 11)

In [61]:
avisos_detalle['idaviso'].duplicated().sum()

20681

In [62]:
avisos_detalle = avisos_detalle.drop_duplicates(subset=['idaviso'],keep='last')

In [63]:
avisos_detalle = avisos_detalle.reset_index().drop(columns='index')

# Fin limpieza

# Armando DF para ML

In [67]:
df_ml = postulantes_genero_y_edad

In [69]:
#exluyo los datos del csv test
df_ml = postulantes_genero_y_edad.loc[-postulantes_genero_y_edad['idpostulante'].isin(test_final['idpostulante'])]

In [71]:
df_ml = df_ml.reset_index().drop(columns='index')

In [72]:
df_ml.head()

  idpostulante fechanacimiento  sexo
0         NM5M      1970-12-03   FEM
1         5awk      1962-12-04   FEM
2         eo2p      1981-02-16  MASC
3         1d2B      1976-02-28  MASC
4         NRE5      1973-02-13  MASC

In [84]:
df_ml.shape

(416091, 4)

In [73]:
df_ml['fechanacimiento'] = pd.to_datetime(df_ml['fechanacimiento'])
df_ml['edad'] = datetime.datetime.now().year - df_ml['fechanacimiento'].dt.year

In [74]:
df_ml = df_ml.drop(columns='fechanacimiento')

In [75]:
df_ml = oneHotEncoding(df_ml,'sexo')

In [76]:
df_ml.head()

  idpostulante  edad  FEM  MASC  NO_DECLARA
0         NM5M    48    1     0           0
1         5awk    56    1     0           0
2         eo2p    37    0     1           0
3         1d2B    42    0     1           0
4         NRE5    45    0     1           0

In [77]:
df_ml.loc[df_ml['idpostulante'].isin(postulaciones['idpostulante']),'y'] = 1

In [78]:
df_ml.loc[df_ml['y'].isna(),'y'] = 0

In [79]:
y = df_ml['y']

In [80]:
idpostulantes = df_ml['idpostulante']

In [81]:
df_ml = df_ml.drop(columns=['idpostulante','y'])

In [82]:
df_ml.head()

   edad  FEM  MASC  NO_DECLARA
0    48    1     0           0
1    56    1     0           0
2    37    0     1           0
3    42    0     1           0
4    45    0     1           0

In [83]:
y.head()

0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
Name: y, dtype: float64

In [85]:
trainData, testData, trainLabels, testLabels = train_test_split(df_ml, y, test_size=0.10)

In [ ]:
from sklearn import svm
clf = svm.SVC()
clf.fit(trainData, trainLabels)

In [41]:
postulantes_genero_y_edad.shape

(478307, 3)

In [45]:
test = postulantes_genero_y_edad[postulantes_genero_y_edad['idpostulante'].isin(test_final['idpostulante'])]

In [47]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 124970 entries, 2 to 281378
Data columns (total 3 columns):
idpostulante       124970 non-null object
fechanacimiento    121111 non-null object
sexo               124970 non-null object
dtypes: object(3)
memory usage: 3.8+ MB

In [49]:
test.drop_duplicates().info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 64767 entries, 2 to 281323
Data columns (total 3 columns):
idpostulante       64767 non-null object
fechanacimiento    62300 non-null object
sexo               64767 non-null object
dtypes: object(3)
memory usage: 2.0+ MB