In [90]:
import pandas as pd
import numpy as np
import scipy as sp

%matplotlib inline

In [158]:
import sklearn
from sklearn import preprocessing

# Cargo todos los CSV

In [91]:
postulantes_educacion = pd.read_csv('data/datos_navent_fiuba/fiuba_1_postulantes_educacion.csv')
postulantes_educacion = postulantes_educacion.append(pd.read_csv('data/fiuba_hasta_15_abril/fiuba_1_postulantes_educacion.csv'))
postulantes_educacion = postulantes_educacion.append(pd.read_csv('data/fiuba_desde_15_abril/fiuba_1_postulantes_educacion.csv'))

In [92]:
postulantes_genero_y_edad = pd.read_csv('data/datos_navent_fiuba/fiuba_2_postulantes_genero_y_edad.csv')
postulantes_genero_y_edad = postulantes_genero_y_edad.append(pd.read_csv('data/fiuba_hasta_15_abril/fiuba_2_postulantes_genero_y_edad.csv'))
postulantes_genero_y_edad = postulantes_genero_y_edad.append(pd.read_csv('data/fiuba_desde_15_abril/fiuba_2_postulantes_genero_y_edad.csv'))

In [93]:
vistas = pd.read_csv('data/datos_navent_fiuba/fiuba_3_vistas.csv',nrows=10000)
vistas = vistas.append(pd.read_csv('data/fiuba_hasta_15_abril/fiuba_3_vistas.csv',nrows=10000))
vistas = vistas.append(pd.read_csv('data/fiuba_desde_15_abril/fiuba_3_vistas.csv',nrows=10000))

In [94]:
postulaciones = pd.read_csv('data/datos_navent_fiuba/fiuba_4_postulaciones.csv',nrows=10000)
postulaciones = postulaciones.append(pd.read_csv('data/fiuba_hasta_15_abril/fiuba_4_postulaciones.csv',nrows=10000))
# no tiene postulaciones -> pd.read_csv('data/fiuba_desde_15_abril/')

In [95]:
avisos_online = pd.read_csv('data/datos_navent_fiuba/fiuba_5_avisos_online.csv',nrows=10000)
avisos_online = avisos_online.append(pd.read_csv('data/fiuba_hasta_15_abril/fiuba_5_avisos_online.csv',nrows=10000))
# no tiene avisos online pd.read_csv('data/fiuba_desde_15_abril/')

In [96]:
avisos_detalle = pd.read_csv('data/datos_navent_fiuba/fiuba_6_avisos_detalle.csv',nrows=10000)
#avisos_detalle = avisos_detalle.append(pd.read_csv('data/fiuba_hasta_15_abril/fiuba_6_avisos_detalle.csv',nrows=10000))
avisos_detalle = avisos_detalle.append(pd.read_csv('data/fiuba_desde_15_abril/fiuba_6_avisos_detalle.csv',nrows=10000))
avisos_detalle = avisos_detalle.append(pd.read_csv('data/fiuba_6_avisos_detalle_missing_nivel_laboral.csv',nrows=10000))

In [181]:
test_final = pd.read_csv('data/test_final_100k.csv')

- Limpio el DF *postulantes_educacion*

In [97]:
postulantes_educacion = postulantes_educacion.reset_index().drop(columns='index')

In [98]:
postulantes_educacion.head()

  idpostulante         nombre    estado
0         NdJl       Posgrado  En Curso
1         8BkL  Universitario  En Curso
2         1d2B  Universitario  En Curso
3         NPBx  Universitario  En Curso
4         NPBx         Master  En Curso

In [99]:
postulantes_educacion.isnull().sum()

idpostulante    0
nombre          0
estado          0
dtype: int64

In [100]:
postulantes_educacion.isna().sum()

idpostulante    0
nombre          0
estado          0
dtype: int64

- Limpio el DF *postulantes_genero_y_edad*

In [101]:
postulantes_genero_y_edad = postulantes_genero_y_edad.reset_index().drop(columns='index')

In [102]:
postulantes_genero_y_edad.head()

  idpostulante fechanacimiento  sexo
0         NM5M      1970-12-03   FEM
1         5awk      1962-12-04   FEM
2         ZaO5      1978-08-10   FEM
3         NdJl      1969-05-09  MASC
4         eo2p      1981-02-16  MASC

In [103]:
postulantes_genero_y_edad.shape

(780020, 3)

In [104]:
postulantes_genero_y_edad.isna().sum()

idpostulante           0
fechanacimiento    34273
sexo                   0
dtype: int64

In [105]:
postulantes_genero_y_edad.isnull().sum()

idpostulante           0
fechanacimiento    34273
sexo                   0
dtype: int64

In [106]:
postulantes_genero_y_edad = postulantes_genero_y_edad[-postulantes_genero_y_edad['fechanacimiento'].isna()]

In [107]:
postulantes_genero_y_edad = postulantes_genero_y_edad.drop_duplicates()

In [108]:
postulantes_genero_y_edad[postulantes_genero_y_edad['idpostulante'] == '0zP6MJa']

       idpostulante fechanacimiento sexo
168364      0zP6MJa      1985-08-16  FEM
525452      0zP6MJa      1989-08-16  FEM

In [109]:
postulantes_genero_y_edad[postulantes_genero_y_edad['idpostulante'] == '0zPvY49']

       idpostulante fechanacimiento  sexo
485636      0zPvY49      1991-03-26  MASC
678829      0zPvY49      1991-03-26   FEM

In [110]:
#Dejo la ultima aparicion del duplicado, supongo que es el update más reciente
postulantes_genero_y_edad = postulantes_genero_y_edad.drop_duplicates(subset=['idpostulante'],keep='last')

In [111]:
postulantes_genero_y_edad[postulantes_genero_y_edad['idpostulante'] == '0zP6MJa']

       idpostulante fechanacimiento sexo
525452      0zP6MJa      1989-08-16  FEM

In [112]:
postulantes_genero_y_edad[postulantes_genero_y_edad['idpostulante'] == '0zPvY49']

       idpostulante fechanacimiento sexo
678829      0zPvY49      1991-03-26  FEM

In [113]:
postulantes_genero_y_edad = postulantes_genero_y_edad.reset_index().drop(columns='index')

- Limpio el DF *vistas*

In [114]:
vistas = vistas.reset_index().drop(columns='index')

In [115]:
vistas.head()

      idAviso                     timestamp idpostulante
0  1111780242  2018-02-23T13:38:13.187-0500      YjVJQ6Z
1  1112263876  2018-02-23T13:38:14.296-0500      BmVpYoR
2  1112327963  2018-02-23T13:38:14.329-0500      wVkBzZd
3  1112318643  2018-02-23T13:38:17.921-0500      OqmP9pv
4  1111903673  2018-02-23T13:38:18.973-0500      DrpbXDP

In [116]:
vistas.shape

(30000, 3)

In [117]:
vistas.isna().sum()

idAviso         0
timestamp       0
idpostulante    0
dtype: int64

In [118]:
vistas.isnull().sum()

idAviso         0
timestamp       0
idpostulante    0
dtype: int64

In [119]:
vistas.duplicated().sum()

0

In [120]:
vistas = vistas.drop_duplicates(keep='last')

In [121]:
vistas.shape[0] + 1614515

1644515

In [122]:
vistas = vistas.reset_index().drop(columns='index')

- Limpio el DF *postulaciones*

In [123]:
postulaciones = postulaciones.reset_index().drop(columns='index')

In [124]:
postulaciones.head()

      idaviso idpostulante     fechapostulacion
0  1112257047         NM5M  2018-01-15 16:22:34
1  1111920714         NM5M  2018-02-06 09:04:50
2  1112346945         NM5M  2018-02-22 09:04:47
3  1112345547         NM5M  2018-02-22 09:04:59
4  1112237522         5awk  2018-01-25 18:55:03

In [125]:
postulaciones.shape

(20000, 3)

In [126]:
postulaciones.isna().sum()

idaviso             0
idpostulante        0
fechapostulacion    0
dtype: int64

In [127]:
postulaciones.isnull().sum()

idaviso             0
idpostulante        0
fechapostulacion    0
dtype: int64

In [128]:
postulaciones.duplicated().sum()

3402

In [129]:
postulaciones = postulaciones.drop_duplicates(keep='last')

In [130]:
postulaciones = postulaciones.reset_index().drop(columns='index')

In [131]:
postulaciones.shape

(16598, 3)

- Limpio el DF *avisos_online*

In [132]:
avisos_online = avisos_online.reset_index().drop(columns='index')

In [133]:
avisos_online.head()

      idaviso
0  1112355872
1  1112335374
2  1112374842
3  1111984070
4  1111822480

In [134]:
avisos_online.isna().sum()

idaviso    0
dtype: int64

In [135]:
avisos_online.isnull().sum()

idaviso    0
dtype: int64

In [136]:
avisos_online = avisos_online.drop_duplicates(keep='last')

In [137]:
avisos_online = avisos_online.reset_index().drop(columns='index')

- Limpio el DF *avisos_detalle*

In [138]:
avisos_detalle = avisos_detalle.reset_index().drop(columns='index')

In [139]:
avisos_detalle.head()

,idaviso,idpais,titulo,descripcion,nombre_zona,ciudad,mapacalle,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
0,8725750,1,VENDEDOR/A PROVINCIA DE SANTA FE,<p><strong><strong>Empresa:</strong></strong> ...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Comercial,VENTOR
1,17903700,1,Enfermeras,<p>Solicitamos para importante cadena de farma...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Salud,Farmacias Central Oeste
2,1000150677,1,Chofer de taxi,<p>TE GUSTA MANEJAR? QUERES GANAR PLATA HACIEN...,Capital Federal,NaN,Empedrado 2336,Full-time,Senior / Semi-Senior,Transporte,FAMITAX SRL
3,1000610287,1,CHOFER DE CAMIONETA BAHIA BLANCA - PUNTA ALTA,<p><strong>Somos una empresa multinacional que...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Transporte,Wurth Argentina S.A
4,1000872556,1,Operarios de Planta - Rubro Electrodomésticos,<p><strong>OPERARIOS DE PLANTA</strong></p><p>...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Producción,ELECTRO OUTLET SRL

In [140]:
avisos_detalle.shape

(20338, 11)

In [141]:
avisos_detalle['idaviso'].duplicated().sum()

1744

In [142]:
avisos_detalle = avisos_detalle.drop_duplicates(subset=['idaviso'],keep='last')

In [143]:
avisos_detalle = avisos_detalle.reset_index().drop(columns='index')

In [144]:
postulantes_educacion.head()

  idpostulante         nombre    estado
0         NdJl       Posgrado  En Curso
1         8BkL  Universitario  En Curso
2         1d2B  Universitario  En Curso
3         NPBx  Universitario  En Curso
4         NPBx         Master  En Curso

In [145]:
postulantes_genero_y_edad.head()

  idpostulante fechanacimiento  sexo
0         NM5M      1970-12-03   FEM
1         5awk      1962-12-04   FEM
2         ZaO5      1978-08-10   FEM
3         NdJl      1969-05-09  MASC
4         eo2p      1981-02-16  MASC

In [146]:
vistas.head()

      idAviso                     timestamp idpostulante
0  1111780242  2018-02-23T13:38:13.187-0500      YjVJQ6Z
1  1112263876  2018-02-23T13:38:14.296-0500      BmVpYoR
2  1112327963  2018-02-23T13:38:14.329-0500      wVkBzZd
3  1112318643  2018-02-23T13:38:17.921-0500      OqmP9pv
4  1111903673  2018-02-23T13:38:18.973-0500      DrpbXDP

In [147]:
postulaciones.head()

      idaviso idpostulante     fechapostulacion
0  1112257047         NM5M  2018-01-15 16:22:34
1  1111920714         NM5M  2018-02-06 09:04:50
2  1112346945         NM5M  2018-02-22 09:04:47
3  1112345547         NM5M  2018-02-22 09:04:59
4  1112237522         5awk  2018-01-25 18:55:03

In [148]:
avisos_online.head()

      idaviso
0  1112355872
1  1112335374
2  1112374842
3  1111984070
4  1111822480

In [149]:
avisos_detalle.head()

,idaviso,idpais,titulo,descripcion,nombre_zona,ciudad,mapacalle,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
0,8725750,1,VENDEDOR/A PROVINCIA DE SANTA FE,<p><strong><strong>Empresa:</strong></strong> ...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Comercial,VENTOR
1,1000610287,1,CHOFER DE CAMIONETA BAHIA BLANCA - PUNTA ALTA,<p><strong>Somos una empresa multinacional que...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Transporte,Wurth Argentina S.A
2,1000872556,1,Operarios de Planta - Rubro Electrodomésticos,<p><strong>OPERARIOS DE PLANTA</strong></p><p>...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Producción,ELECTRO OUTLET SRL
3,9240880,1,"Productores Asesores Independiente, para venta...",Agente\r\noficial Selecciona:</span></strong><...,Capital Federal,Buenos Aires,NaN,Full-time,Jefe / Supervisor / Responsable,Comercial,Agencia Oficial Alejandro Arizaga
4,1001202662,1,"promotor/a , asesor/a",<p>En Cerantola nos encontramos en la busqueda...,Gran Buenos Aires,NaN,NaN,Full-time,Otro,Atención al Cliente,cerantola

In [150]:
print(postulantes_genero_y_edad.shape)
print(postulantes_educacion.shape)

(478345, 3)
(1103193, 3)

In [151]:
postulantes = pd.merge(postulantes_educacion,postulantes_genero_y_edad, on ="idpostulante",how="inner")
postulantes.head()

  idpostulante         nombre    estado fechanacimiento  sexo
0         NdJl       Posgrado  En Curso      1969-05-09  MASC
1         NdJl  Universitario  Graduado      1969-05-09  MASC
2         NdJl       Posgrado  En Curso      1969-05-09  MASC
3         NdJl  Universitario  Graduado      1969-05-09  MASC
4         NdJl       Posgrado  En Curso      1969-05-09  MASC

In [169]:
le = preprocessing.LabelEncoder()
le.fit(postulantes_train['sexo'])
postulantes_train['sexo'] = le.transform(postulantes_train['sexo'])
le.fit(postulantes_train['estado'])
postulantes_train['estado'] = le.transform(postulantes_train['estado'])
le.fit(postulantes_train['nombre'])
postulantes_train['nombre'] = le.transform(postulantes_train['nombre'])
postulantes_train.head()

  idpostulante  nombre  estado fechanacimiento  sexo
0         NdJl       3       1      1969-05-09     1
1         NdJl       6       2      1969-05-09     1
2         NdJl       3       1      1969-05-09     1
3         NdJl       6       2      1969-05-09     1
4         NdJl       3       1      1969-05-09     1

In [178]:
postulantes_train = postulantes_train[(postulantes_train['fechanacimiento'].str.startswith('19'))| (postulantes_train['fechanacimiento'].str.startswith('20'))]
postulantes_train['fechanacimiento'] = pd.to_datetime('today').year-pd.to_datetime(postulantes_train['fechanacimiento']).dt.year

AttributeError: Can only use .str accessor with string values, which use np.object_ dtype in pandas

In [182]:
test_final.head()

   id  idaviso idpostulante
0   0   739260       6M9ZQR
1   1   739260       6v1xdL
2   2   739260       ezRKm9
3   3   758580       1Q35ej
4   4   758580       EAN4J6

In [208]:
train_test_merge = pd.merge(postulantes_train,postulaciones, on="idpostulante", how="inner")

In [210]:
train_test = pd.merge(train_test_merge,avisos_detalle,on="idaviso",how="inner")

In [211]:
train_test.head()

,idpostulante,nombre,estado,fechanacimiento,sexo,idaviso,fechapostulacion,idpais,titulo,descripcion,nombre_zona,ciudad,mapacalle,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
0,NdJl,3,1,49,1,1112261212,2018-01-16 08:50:30,1,Jóvenes Profesionales - Responsable Administra...,<p>Nos encontramos en la búsqueda de un<strong...,Gran Buenos Aires,NaN,NaN,Full-time,Jefe / Supervisor / Responsable,Administración,EDUCADO EN ARGENTINA
1,NdJl,6,2,49,1,1112261212,2018-01-16 08:50:30,1,Jóvenes Profesionales - Responsable Administra...,<p>Nos encontramos en la búsqueda de un<strong...,Gran Buenos Aires,NaN,NaN,Full-time,Jefe / Supervisor / Responsable,Administración,EDUCADO EN ARGENTINA
2,NdJl,3,1,49,1,1112261212,2018-01-16 08:50:30,1,Jóvenes Profesionales - Responsable Administra...,<p>Nos encontramos en la búsqueda de un<strong...,Gran Buenos Aires,NaN,NaN,Full-time,Jefe / Supervisor / Responsable,Administración,EDUCADO EN ARGENTINA
3,NdJl,6,2,49,1,1112261212,2018-01-16 08:50:30,1,Jóvenes Profesionales - Responsable Administra...,<p>Nos encontramos en la búsqueda de un<strong...,Gran Buenos Aires,NaN,NaN,Full-time,Jefe / Supervisor / Responsable,Administración,EDUCADO EN ARGENTINA
4,NdJl,3,1,49,1,1112261212,2018-01-16 08:50:30,1,Jóvenes Profesionales - Responsable Administra...,<p>Nos encontramos en la búsqueda de un<strong...,Gran Buenos Aires,NaN,NaN,Full-time,Jefe / Supervisor / Responsable,Administración,EDUCADO EN ARGENTINA

In [213]:
train_test_clean = train_test

In [217]:
train_test_clean.drop(columns=["titulo","descripcion","ciudad","mapacalle"])

,idpostulante,nombre,estado,fechanacimiento,sexo,idaviso,fechapostulacion,idpais,nombre_zona,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
0,NdJl,3,1,49,1,1112261212,2018-01-16 08:50:30,1,Gran Buenos Aires,Full-time,Jefe / Supervisor / Responsable,Administración,EDUCADO EN ARGENTINA
1,NdJl,6,2,49,1,1112261212,2018-01-16 08:50:30,1,Gran Buenos Aires,Full-time,Jefe / Supervisor / Responsable,Administración,EDUCADO EN ARGENTINA
2,NdJl,3,1,49,1,1112261212,2018-01-16 08:50:30,1,Gran Buenos Aires,Full-time,Jefe / Supervisor / Responsable,Administración,EDUCADO EN ARGENTINA
3,NdJl,6,2,49,1,1112261212,2018-01-16 08:50:30,1,Gran Buenos Aires,Full-time,Jefe / Supervisor / Responsable,Administración,EDUCADO EN ARGENTINA
4,NdJl,3,1,49,1,1112261212,2018-01-16 08:50:30,1,Gran Buenos Aires,Full-time,Jefe / Supervisor / Responsable,Administración,EDUCADO EN ARGENTINA
5,NdJl,6,2,49,1,1112261212,2018-01-16 08:50:30,1,Gran Buenos Aires,Full-time,Jefe / Supervisor / Responsable,Administración,EDUCADO EN ARGENTINA
6,EppJmb,6,1,58,1,1112261212,2018-01-16 18:51:39,1,Gran Buenos Aires,Full-time,Jefe / Supervisor / Responsable,Administración,EDUCADO EN ARGENTINA
7,EppJmb,6,2,58,1,1112261212,2018-01-16 18:51:39,1,Gran Buenos Aires,Full-time,Jefe / Supervisor / Responsable,Administración,EDUCADO EN ARGENTINA
8,EppJmb,6,1,58,1,1112261212,2018-01-16 18:51:39,1,Gran Buenos Aires,Full-time,Jefe / Supervisor / Responsable,Administración,EDUCADO EN ARGENTINA
9,EppJmb,6,2,58,1,1112261212,2018-01-16 18:51:39,1,Gran Buenos Aires,Full-time,Jefe / Supervisor / Responsable,Administración,EDUCADO EN ARGENTINA
10,EppJmb,6,1,58,1,1112261212,2018-01-16 18:51:39,1,Gran Buenos Aires,Full-time,Jefe / Supervisor / Responsable,Administración,EDUCADO EN ARGENTINA
11,EppJmb,6,2,58,1,1112261212,2018-01-16 18:51:39,1,Gran Buenos Aires,Full-time,Jefe / Supervisor / Responsable,Administración,EDUCADO EN ARGENTINA
12,aJ4eY5,6,2,44,1,1112261212,2018-01-16 07:13:15,1,Gran Buenos Aires,Full-time,Jefe / Supervisor / Responsable,Administración,EDUCADO EN ARGENTINA
13,EPP3E8,6,2,36,0,1112261212,2018-01-16 09:13:30,1,Gran Buenos Aires,Full-time,Jefe / Supervisor / Responsable,Administración,EDUCADO EN ARGENTINA
14,EPP3E8,6,2,36,0,1112261212,2018-01-16 09:13:30,1,Gran Buenos Aires,Full-time,Jefe / Supervisor / Responsable,Administración,EDUCADO EN ARGENTINA
15,EPP3E8,6,2,36,0,1112261212,2018-01-16 09:13:30,1,Gran Buenos Aires,Full-time,Jefe / Supervisor / Responsable,Administración,EDUCADO EN ARGENTINA
16,5ZeP2N,1,2,37,1,1112261212,2018-01-15 21:15:54,1,Gran Buenos Aires,Full-time,Jefe / Supervisor / Responsable,Administración,EDUCADO EN ARGENTINA
17,5ZeP2N,6,2,37,1,1112261212,2018-01-15 21:15:54,1,Gran Buenos Aires,Full-time,Jefe / Supervisor / Responsable,Administración,EDUCADO EN ARGENTINA
18,5ZeP2N,1,2,37,1,1112261212,2018-01-15 21:15:54,1,Gran Buenos Aires,Full-time,Jefe / Supervisor / Responsable,Administración,EDUCADO EN ARGENTINA
19,5ZeP2N,6,2,37,1,1112261212,2018-01-15 21:15:54,1,Gran Buenos Aires,Full-time,Jefe / Supervisor / Responsable,Administración,EDUCADO EN ARGENTINA
20,NdJl,3,1,49,1,1112281548,2018-01-24 05:10:12,1,Gran Buenos Aires,Full-time,Gerencia / Alta Gerencia / Dirección,Planeamiento económico-financiero,MEGARED CORP SOCIEDAD ANONIMA
21,NdJl,6,2,49,1,1112281548,2018-01-24 05:10:12,1,Gran Buenos Aires,Full-time,Gerencia / Alta Gerencia / Dirección,Planeamiento económico-financiero,MEGARED CORP SOCIEDAD ANONIMA
22,NdJl,3,1,49,1,1112281548,2018-01-24 05:10:12,1,Gran Buenos Aires,Full-time,Gerencia / Alta Gerencia / Dirección,Planeamiento económico-financiero,MEGARED CORP SOCIEDAD ANONIMA
23,NdJl,6,2,49,1,1112281548,2018-01-24 05:10:12,1,Gran Buenos Aires,Full-time,Gerencia / Alta Gerencia / Dirección,Planeamiento económico-financiero,MEGARED CORP SOCIEDAD ANONIMA
24,NdJl,3,1,49,1,1112281548,2018-01-24 05:10:12,1,Gran Buenos Aires,Full-time,Gerencia / Alta Gerencia / Dirección,Planeamiento económico-financiero,MEGARED CORP SOCIEDAD ANONIMA
25,NdJl,6,2,49,1,1112281548,2018-01-24 05:10:12,1,Gran Buenos Aires,Full-time,Gerencia / Alta Gerencia / Dirección,Planeamiento económico-financiero,MEGARED CORP SOCIEDAD ANONIMA
26,6j10M,6,2,51,1,1112281548,2018-01-29 13:14:20,1,Gran Buenos Aires,Full-time,Gerencia / Alta Gerencia / Dirección,Planeamiento económico-financiero,MEGARED CORP SOCIEDAD ANONIMA
27,6j10M,5,2,51,1,1112281548,2018-01-29 13:14:20,1,Gran Buenos Aires,Full-time,Gerencia / Alta Gerencia / Dirección,Planeamiento económico-financiero,MEGARED CORP SOCIEDAD ANONIMA
28,6j10M,1,0,51,1,1112281548,2018-01-29 13:14:20,1,Gran Buenos Aires,Full-time,Gerencia / Alta Gerencia / Dirección,Planeamiento económico-financiero,MEGARED CORP SOCIEDAD ANONIMA
29,52d9GM,6,2,41,1,1112281548,2018-01-24 09:24:46,1,Gran Buenos Aires,Full-time,Gerencia / Alta Gerencia / Dirección,Planeamiento económico-financiero,MEGARED CORP SOCIEDAD ANONIMA
...,...,...,...,...,...,...,...,...,...,...,...,...,...
51146,85m2GM,5,2,30,1,1112426964,2018-03-28 16:02:08,1,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Tesorería,Jones Lang LaSalle
51147,85m2GM,6,2,30,1,1112426964,2018-03-28 16:02:08,1,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Tesorería,Jones Lang LaSalle
51148,85m2GM,5,2,30,1,1112426964,2018-03-28 16:02:08,1,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Tesorería,Jones Lang LaSalle
51149,85m2GM,6,2,30,1,1112426964,2018-03-28 16:02:08,1,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Tesorería,Jones Lang LaSalle
51150,85m2GM,5,2,30,1,1112425167,2018-03-28 16:22:27,1,Capital Federal,Full-time,Senior / Semi-Senior,Administración,M. & M. Bomchil Abogados
51151,85m2GM,6,2,30,1,1112425167,2018-03-28 16:22:27,1,Capital Federal,Full-time,Senior / Semi-Senior,Administración,M. & M. Bomchil Abogados
51152,85m2GM,5,2,30,1,1112425167,2018-03-28 16:22:27,1,Capital Federal,Full-time,Senior / Semi-Senior,Administración,M. & M. Bomchil Abogados
51153,85m2GM,6,2,30,1,1112425167,2018-03-28 16:22:27,1,Capital Federal,Full-time,Senior / Semi-Senior,Administración,M. & M. Bomchil Abogados
51154,5mAx0z,5,0,39,1,1112418679,2018-03-27 11:57:34,1,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Tesorería,Complement Group (holding)
51155,5mAx0z,5,0,39,1,1112418679,2018-03-27 11:57:34,1,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Tesorería,Complement Group (holding)
51156,exAJR8,6,0,41,1,1112284648,2018-02-19 09:57:03,1,Gran Buenos Aires,Full-time,Junior,Telecomunicaciones,CONA CONSULTORES EN RRHH
51157,6LYXEj,6,0,44,0,1002490524,2018-04-13 18:15:50,1,Capital Federal,Full-time,Senior / Semi-Senior,Administración,DISTRIBUIDORA LANUS SA
51158,6LYXEj,6,0,44,0,1002490524,2018-04-13 18:15:50,1,Capital Federal,Full-time,Senior / Semi-Senior,Administración,DISTRIBUIDORA LANUS SA
51159,YkJNaD,6,0,39,1,1112468321,2018-04-17 08:40:06,1,Gran Buenos Aires,Full-time,Jefe / Supervisor / Responsable,Liderazgo de Proyecto,Deloitte
51160,YkJNaD,6,0,39,1,1112468321,2018-04-17 08:40:06,1,Gran Buenos Aires,Full-time,Jefe / Supervisor / Responsable,Liderazgo de Proyecto,Deloitte
51161,NVZGE4,6,0,48,1,1112222284,2018-02-05 19:45:10,1,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Infraestructura,Grupo Datco S.A
51162,NVZGE4,6,0,48,1,1112412778,2018-04-02 08:09:35,1,Gran Buenos Aires,Full-time,Junior,Telecomunicaciones,Iplan
51163,NZV6AL,6,0,48,0,1112285082,2018-02-07 11:55:56,1,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Administración,Grupo D'arc
51164,NZV6AL,6,0,48,0,1112285082,2018-02-07 11:55:56,1,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Administración,Grupo D'arc
51165,NZV6AL,6,0,48,0,1112291935,2018-02-07 11:57:45,1,Gran Buenos Aires,Full-time,Junior,Administración,LVM Recursos Humanos
51166,NZV6AL,6,0,48,0,1112291935,2018-02-07 11:57:45,1,Gran Buenos Aires,Full-time,Junior,Administración,LVM Recursos Humanos
51167,NZV6AL,6,0,48,0,1112439233,2018-04-09 14:59:43,1,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Producto,Tarjeta Shopping
51168,NZV6AL,6,0,48,0,1112439233,2018-04-09 14:59:43,1,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Producto,Tarjeta Shopping
51169,NZV6AL,6,0,48,0,1112461143,2018-04-14 10:39:22,1,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Administración,RH Talentum
51170,NZV6AL,6,0,48,0,1112461143,2018-04-14 10:39:22,1,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Administración,RH Talentum
51171,NZV6AL,6,0,48,0,1112418101,2018-04-14 10:41:22,1,Capital Federal,Full-time,Senior / Semi-Senior,Control de Gestión,Importante Empresa
51172,NZV6AL,6,0,48,0,1112418101,2018-04-14 10:41:22,1,Capital Federal,Full-time,Senior / Semi-Senior,Control de Gestión,Importante Empresa
51173,NZV6AL,6,0,48,0,1112410167,2018-04-14 10:41:50,1,Gran Buenos Aires,Full-time,Jefe / Supervisor / Responsable,Gastronomia,La Parolaccia
51174,NZV6AL,6,0,48,0,1112410167,2018-04-14 10:41:50,1,Gran Buenos Aires,Full-time,Jefe / Supervisor / Responsable,Gastronomia,La Parolaccia
51175,Y9wNZP,6,0,32,0,1112374429,2018-03-09 07:54:23,1,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Administración,RANDSTAD

In [214]:
le.fit(train_test_clean['nivel_laboral'])
train_test_clean['nivel_laboral'] = le.transform(train_test_clean['nivel_laboral'])
le.fit(train_test_clean['tipo_de_trabajo'])
train_test_clean['nivel_laboral'] = le.transform(train_test_clean['nivel_laboral'])
le.fit(train_test_clean['nombre_area'])
train_test_clean['nombre_area'] = le.transform(train_test_clean['nombre_area'])
le.fit(train_test_clean['denominacion_empresa'])
train_test_clean['denominacion_empresa'] = le.transform(train_test_clean['denominacion_empresa'])
train_test_clean.head()

ValueError: y contains new labels: [nan nan nan ... nan nan nan]